<div class="single_dialog">
  <div class="dialog_ico">

    <% ava = message.user.avatars.last %>
    <% if ava.nil? %>
        <%= image_tag('img.jpg', width: 60) %>
    <% else %>
        <img src="<%= image_path ava.image.url(:thumb) %>" width="60" alt="Profile Image">
    <% end %>

    <span class="name_dialog"><%= message.user.name %></span> в
    <span class="last_message"><%= message.created_at.strftime('%d/%m/%Y %H:%M') %></span>
    написал:
  </div>
  <div class="single_dialog_info">
    <p class="last_message"><strong>
      <%= message.body %>
    </strong></p>

  </div>
</div>
<hr>