<% if current_user.confirmed? %>
<p></p>
  <div class="container">
  <div class="col-lg-12 col-sm-8">
    <% if flash[:balance] %>
      <div class="alert alert-danger" role="alert">
        <center><%= flash[:balance] %></center>
      </div>
    <% end %>

    <div class="col-md-13 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= current_user.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <% ava = current_user.avatars.last %>
              <% if ava.nil? %>
                <img alt="User Pic" src="images/andrew.png" class="img-circle img-responsive">
              <% else %>
                <%= image_tag ava.image.url(:thumb), class: "img-circle img-responsive" %>
              <% end %>
                <%= form_for Avatar.new do |f| %>
                  <%= f.label :image, I18n.t('profile.image') %>
                  <%= f.file_field :image %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <p></p>
                  <%= f.submit I18n.t('profile.image'), class: 'btn btn-default', style: 'background-color: #49d793; border-color: #49d793; border-radius: 9px; color: white;' %>
                <% end %>
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td><%= t 'profile.level' %></td>
                  <td><%= current_user.level %></td>
                </tr>
                <tr>
                  <td><%= t 'profile.status' %></td>
                  <td><%= t 'profile.invited' %> <b style="color: green;">
                     <% if current_user.level == 1 %>
                      <%= current_user.refferences.where(level: 1).count %>
                     <% elsif current_user.level == 2 %>
                       <%= current_user.refferences.where(level: 1).count - 10 %>
                     <% else %>
                      <%= current_user.refferences.where(level: current_user.level - 1).count %>
                     <% end %>
                     </b>
                     / <%= levelinfo %>
                  </td>
                </tr>
                <tr>
                  <td><b><%= t 'profile.free' %></b></td>
                  <td><b><%= current_user.transfers.sum(:summa) %>
                    <a id="pay_out" href="#"><%= t 'profile.get_money' %></a>
                  </b></td>
                </tr>
                <tr>
                  <td><b><%= t 'profile.work' %></b></td>
                  <td><b>
                    <% if current_user.balance.nil? %>
                       0 
                    <% else %>
                     <%= current_user.balance %>  
                    <% end %>
                    <a id="pay_in" href="#"><%= t 'profile.get_money' %></a>
                  </b></td>
                </tr>
                <tr>
                  <td><%= t 'profile.email' %></td>
                  <td><%= current_user.email %></td>
                </tr>
                <tr>
                  <td><%= t 'profile.come' %></td>
                  <td>
                  <% if current_user.reffered.nil? %>
                   ---
                  <% else %>
                    <%= current_user.reffered.name %>
                  <% end %>    
                  </td>
                </tr>
                <tr>
                  <td><%= t 'profile.reff' %></td>
                  <td><input type="text" id="copyTarget" class="form-control" value="<%= new_user_registration_url(referred_by: current_user.id)  %>"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
          <div class="panel-footer">
           <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
           <center> 
            <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                  <%= f.submit @button, class: "btn btn-primary", style: 'border-radius: 0px;background-color: #49d793; border-color: #49d793; border-radius: 13px; border-color: #49d793; margin-right: 117px;', data: { confirm: 'Вы уверены? ' } %>
            <% end %>
           </center>
           <p></p>
          <% end %>
          <%= form_for :counts, url: buynumb_path(current_user.id), method: :post do |f| %>
                      <%= f.number_field :size_to_buy, style: 'margin-left: 371px' %>
                      <%= f.submit I18n.t('profile.buyproviant'), class: "btn btn-primary", style: 'border-radius: 0px;background-color: #49d793; border-color: #49d793; border-radius: 13px; border-color: #49d793; ' %>
                 <% if current_user.level == 1 %>
                   <div style="margin-left: 391px;"> Свободных провиантов <b><%= User.where("level = 1 AND reffered_by = 0 AND created_at > ?", current_user.created_at).count %></b></div>
                <% else %>
                <p></p>
                  <div style="margin-left: 391px;">Свободных провиантов <b><%= User.where(reffered_by: 0, level: current_user.level - 1).count %></b></div>
                <% end %>
              <% end %>
          </div>
      </div>
    </div>

<% else %>
  <div class="container">
    <div class="col-lg-12 col-sm-8">
      <div class="card hovercard">
        <div class="card-background">
          <img class="card-bkimg" alt="" src="/img/unnamed.png"> 
        </div>
        <div class="useravatar">
        <img alt="" src="/img/ava.png">
        </div>
        <div class="card-info"> <span class="card-title"><b><%= current_user.name %></span>
        </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
        <div class="hidden-xs">
        <h4>На ваш email отправлено письмо подтвердите, что-бы вступить в игру.</h4>
        </div>
      </div>
    </div>
        <div class="panel panel-default" style="border-color: rgba(221, 221, 221, 0); background-color: rgba(255, 255, 255, 0.52);">
        </div>
  <center>
      <% if flash[:balance] %>
        <div class="alert alert-danger" role="alert"><center><%= flash[:balance] %></center></div>
      <% end %>
      
    <div class="well">
        <%= link_to 'Выйти из аккаунта', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>     

        <%= link_to "Отправить письмо повторно", new_confirmation_path(current_user), class: 'btn btn-default' %><br />
     </div>
    </center>
<% end %>

<div class="start_price_block">
               <div class="start_price_extensions">
                  <strong><%= t 'profile.dops' %></strong>
                  <div class="start_price_extensions_item radio">
                     <div class="icon"><%= t 'profile.radist' %></div>
                     <div class="start_price_extensions_item_price">
                        50 руб
                     </div>
                     <div class="start_price_extensions_item_check">
                        <a>
                        <% if user_signed_in? %>
                         <% unless current_user.radist == true %>
                             <%= form_for current_user, :url => buyradist_path(current_user), method: :put  do |f| %>
                                <%= f.submit I18n.t('profile.buy'), class: 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 50₽? ' } %>
                             <% end %>
                          <% else %>
                             <%= t 'profile.have' %>
                          <% end %>
                        <% else %>
                           <%= link_to I18n.t('profile.buy'), new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        </a>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item guide">
                     <div class="icon"><%= t 'profile.conductor' %></div>
                     <div class="start_price_extensions_item_price">
                        500 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <% if user_signed_in? %>
                         <% unless current_user.conductor == true %>
                           <%= form_for current_user, :url => improves_path(current_user), method: :post  do |f| %>
                              <%= f.submit I18n.t('profile.buy'), :class => 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 500₽? ' } %>
                           <% end %>
                         <% else %>
                           <a><%= t 'profile.have' %></a>
                         <% end %>
                        <% else %>
                           <%= link_to I18n.t('profile.buy'), new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item porter">
                     <div class="icon"><%= t 'profile.carrier' %></div>
                     <div class="start_price_extensions_item_price">
                        200 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <% if user_signed_in? %>
                         <% unless current_user.carrier == true %>
                           <%= form_for current_user, :url => improfe_path(current_user), method: :put  do |f| %>
                                 <%= f.submit I18n.t('profile.buy'), :class => 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
                           <% end %>
                         <% else %>
                           <a><%= t 'profile.have' %></a>
                         <% end %>   
                        <% else %>
                           <%= link_to I18n.t('profile.buy'), new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item helicopter">
                     <div class="icon"><%= t 'profile.vert' %></div>
                     <div class="start_price_extensions_item_price">
                        2000 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <a >
                        <% if user_signed_in? %>
                         <% unless current_user.aerodrome == true %>
                           <%= form_for current_user, :url => buyaerodrome_path(current_user), method: :put  do |f| %>
                              <%= f.submit I18n.t('profile.buy'), class: "start_price_btn", data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
                           <% end %>
                         <% else %>
                           <%= t 'profile.have' %>
                         <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        </a>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                   <div class="start_price_extensions_item all">
                     <div class="icon"><%= t 'profile.buyall' %></div>
                     <div class="start_price_extensions_item_price">
                        500 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <a >
                        <% if user_signed_in? %>
                         <% unless current_user.radist == true || current_user.carrier == true || current_user.conductor == true || current_user.aerodrome == true %>
                           <%= form_for current_user, :url => buyall_path(current_user), method: :post  do |f| %>
                              <%= f.submit I18n.t('profile.buy'), class: "start_price_btn", data: { confirm: 'Вы уверены cтоимость 250₽? ' } %>
                           <% end %>
                         <% else %>
                           <%= t 'profile.have' %>
                         <% end %>
                        <% else %>
                           <%= link_to I18n.t('profile.buy'), new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        </a>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
               </div>
            </div>
            <div class="start_price_quantity">
               <div class="left_side">
                  <h3><%= t 'profile.buytoprov' %></h3>
                  <em><%= t 'profile.provinfo' %></em>
                  <p></p>
                     <em><%= t 'profile.freeprov' %> <b>
                     <% if current_user.level == 1 %>
                      <%= User.where("level = 1 AND reffered_by = 0 AND created_at > ?", current_user.created_at).count %></b>
                     <% else %>
                      <%= User.where(reffered_by: 0, level: current_user.level - 1).count %>
                     <% end %>
                     </em>
               </div>
               <!-- <div class="right_side">
                  <div class="start_price_quantity_counter">
                     <b class="price_count_left" onclick="sum200()">‹</b>
                     <input type="text" value="1" id="food_counter">
                     <b class="price_count_right" onclick="sum100()">›</b>
                  </div>
               </div> -->
            </div>
            <% if current_user.level == 1 %>
              <% calc = User.where("level = 1 AND reffered_by = 0 AND created_at > ?", current_user.created_at).count %></b>
             <% else %>
              <% calc = User.where(reffered_by: 0, level: current_user.level - 1).count %>
             <% end %>
            <% calc_summ = calc * balanceinfo %>
            <div class="start_price_total">
               <div class="left_side">
                  <h4><%= t 'profile.summprov' %>:</h4>
               </div>
               <div class="right_side">
                  <b class="start_price_total_price" id="sum" style="margin-top: -40px;">
                     <%= calc_summ %>
                  </b>
               </div>
            </div>
            <center>
   <div class="progress_block">
    <div class="progress_block_title" style="background: #49d793;"><%= t 'profile.progress' %></div>
    <div class="progress_block_content">
      <div class="progress_block_subtitle"><%= t 'profile.balanceinfo' %> <%= current_user.balance %> руб.</div>
      <div class="progress_block_content_items">
        <div class="progress_block_content_item">
          <div class="progress_block_content_item_inner">
            <div class="progress_block_content_item_text">7 <%= t 'profile.levelinfo' %></div>
            <% if current_user.level == 7 %>
             <span class="progress_block_content_item_level">
             <%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
                <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
                  <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                   <%= f.submit @button, style: 'border: none; background: none; text-decoration: underline; color: #337ab7;', class: "progress_block_content_item_levelup" %>
                  <% end %>
                <% end %>
            <% elsif current_user.level > 7 %>
             <span class="progress_block_content_item_level">10/10</span>
            <% else %>
             <span class="progress_block_content_item_level">0/10</span>
            <% end %>
          </div>
        </div>
        <div class="progress_block_content_item">
          <div class="progress_block_content_item_inner">
            <div class="progress_block_content_item_text">6 <%= t 'profile.levelinfo' %></div>
            <% if current_user.level == 6 %>
             <span class="progress_block_content_item_level"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
                <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
                  <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                   <%= f.submit @button, style: 'border: none; background: none; text-decoration: underline; color: #337ab7;', class: "progress_block_content_item_levelup" %>
                  <% end %>
                <% end %>
            <% elsif current_user.level > 6 %>
             <span class="progress_block_content_item_level">10/10</span>
            <% else %>
             <span class="progress_block_content_item_level">0/10</span>
            <% end %>
          </div>
        </div>
        <div class="progress_block_content_item">
          <div class="progress_block_content_item_inner">
            <div class="progress_block_content_item_text">5 <%= t 'profile.levelinfo' %></div>
            <% if current_user.level == 5 %>
             <span class="progress_block_content_item_level">
             <%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
                <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
                  <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                   <%= f.submit @button, style: 'border: none; background: none; text-decoration: underline; color: #337ab7;', class: "progress_block_content_item_levelup" %>
                  <% end %>
                <% end %>
            <% elsif current_user.level > 5 %>
             <span class="progress_block_content_item_level">10/10</span>
            <% else %>
             <span class="progress_block_content_item_level">0/10</span>
            <% end %>
          </div>
        </div>
        <div class="progress_block_content_item">
          <div class="progress_block_content_item_inner">
            <div class="progress_block_content_item_text">4 <%= t 'profile.levelinfo' %></div>
            <% if current_user.level == 4 %>
             <span class="progress_block_content_item_level"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
                <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
                  <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                   <%= f.submit @button, style: 'border: none; background: none; text-decoration: underline; color: #337ab7;', class: "progress_block_content_item_levelup" %>
                  <% end %>
                <% end %>
            <% elsif current_user.level > 4 %>
             <span class="progress_block_content_item_level">10/10</span>
            <% else %>
             <span class="progress_block_content_item_level">0/10</span>
            <% end %>
          </div>
        </div>
        <div class="progress_block_content_item">
          <div class="progress_block_content_item_inner">
            <div class="progress_block_content_item_text">3 <%= t 'profile.levelinfo' %></div>
            <% if current_user.level == 3 %>
             <span class="progress_block_content_item_level">
               <%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
                <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
                  <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                   <%= f.submit @button, style: 'border: none; background: none; text-decoration: underline; color: #337ab7;', class: "progress_block_content_item_levelup" %>
                  <% end %>
                <% end %>
            <% elsif current_user.level > 3 %>
             <span class="progress_block_content_item_level">10/10</span>
            <% else %>
             <span class="progress_block_content_item_level">0/10</span>
            <% end %>
          </div>
        </div>
        <div class="progress_block_content_item">
          <div class="progress_block_content_item_inner">
            <div class="progress_block_content_item_text">2 <%= t 'profile.levelinfo' %></div>
            <% if current_user.level == 2 %>
                <span class="progress_block_content_item_level">
                <%= current_user.refferences.where(level: 1).count - 10 %>/10</span>
                <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
                  <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                   <%= f.submit @button, style: 'border: none; background: none; text-decoration: underline; color: #337ab7;', class: "progress_block_content_item_levelup" %>
                  <% end %>
                <% end %>
            <% elsif current_user.level > 2 %>
             <span class="progress_block_content_item_level">10/10</span>
            <% else %>
             <span class="progress_block_content_item_level">0/10</span>
            <% end %>
          </div>
        </div>
        <div class="progress_block_content_item">
          <div class="progress_block_content_item_inner">
            <div class="progress_block_content_item_text">1 <%= t 'profile.levelinfo' %></div>
            <% if current_user.level == 1 %>
             <span class="progress_block_content_item_level">
                <%= current_user.refferences.where(level: 1).count %>
                   /10</span>
                <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
                  <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                   <%= f.submit @button, style: 'border: none; background: none; text-decoration: underline; color: #337ab7;', class: "progress_block_content_item_levelup" %>
                  <% end %>
                <% end %>
            <% elsif current_user.level > 1 %>
             <span class="progress_block_content_item_level">10/10</span>
            <% else %>
             <span class="progress_block_content_item_level">0/10</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="activity_block">
      <div class="activity_block_title"><span><%= t 'profile.reffactive' %></span></div>
      <table>
        <thead>
          <tr>
            <th><%= t 'profile.reff' %></th>
            <th><%= t 'profile.level' %></th>
            <th><%= t 'profile.doxod' %></th>
          </tr>
          <% us = User.where(reffered_by: current_user.id, proviant: false) %>
          <% us.each do |ref| %>
            <tr>
              <td><%= ref.name %></td>
              <td><%= ref.level %></td>
              <td><%= ref.balance %></td>
            </tr>
          <% end %>
        </thead>
      </table>
      <!-- <a href="#" class="show_all">Показать всех</a> -->
    </div>
  </div>

</center>
