  <% if current_user.confirmed? %>
  <div class="container">
  <div class="col-lg-12 col-sm-8">
     <div class="card hovercard">
        <div class="card-background">
           <img class="card-bkimg" alt="" src="/img/unnamed.png"> 
           <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
           <img alt="" src="/img/ava.png">
        </div>
        <div class="card-info"> <span class="card-title"><b><%= current_user.name %></span>
        </div>
     </div>
     <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
           <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
              <div class="hidden-xs">
                 <h4>Ваш уровень: <b style="color: green;">
                 <%= current_user.level %></b> | Приглашено <b style="color: green;"><%= current_user.refferences.where(level: current_user.level - 1).count %>/<%= levelinfo %></b> |  Ваш баланс: <b style="color: green;">
                  <% if current_user.balance.nil? %>
                   0 
                  <% else %>
                   <%= current_user.balance %>
                  <% end %>
                   </b></h4>
              </div>

            <h4>Реф. баланс: <b style="color: green;"> <%= current_user.transfers.sum(:summa) %></b>
           </h4>

           </button>
           <%= link_to 'Выйти из аккаунта', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

              <% if flash[:balance] %>
                <div class="alert alert-danger" role="alert"><center><%= flash[:balance] %></center></div>
              <% end %>
        </div>
     </div>
  <div class="panel panel-default" style="border-color: rgba(221, 221, 221, 0); background-color: rgba(255, 255, 255, 0.52);">
     <center>
        
    <div class="panel-body">

   <div class="alert alert" style="width: 100%">
      <div class="left">
      <% if current_user.level == 10 || current_user.level == 0 %>
        <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
              <%= f.submit @button, class: "btn btn-primary", style: 'border-radius: 0px; background-color: #306999; border-color: #306999;', data: { confirm: 'Вы уверены? ' } %>
        <% end %>
      <% end %>
      </div>
        <div class="hr">
          <%= form_for current_user, :url => profile_path(current_user), method: :put  do |f| %>
              <%= f.submit "Купить 1 провианта", class: "btn btn-primary button1", style: 'border-radius: 0px; background-color: #306999; border-color: #306999;', data: { confirm: 'Стоимость 50руб вы уверены ? ' } %>
          <% end %>
          <% if current_user.level == 1 %>
             <b>Свободных провиантов 0</b>
          <% else %>
            <b>Свободных провиантов <%= User.where(reffered_by: 0, level: current_user.level - 1).count %></b>
          <% end %>
        </div>
      <div class="right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" style='border-radius: 0px; background-color: #306999; border-color: #306999;'>
          Купить улучшения
        </button>
        
      </div>

      </center>
      <center>
       <div class="form-inline" >
          <input type="text" id="copyTarget" class="form-control" value="<%= new_user_registration_url(referred_by: current_user.id)  %>"> 
          <button id="copyButton" class="btn btn-primary" style= 'border-radius: 0px; background-color: #306999; border-color: #306999;'>Копировать реферальную ссылку</button>
        </div>


        <h4 class="well">
        Ваши рефералы :
          <% if current_user.refferences.nil? %>
            У вас нету рефералов
          <% else %>
            <% current_user.refferences.each do |ref| %>
              <% unless ref.proviant == true %>
               <b><%= ref.name %></b> |
              <% end %>
            <% end %>
          <% end %>
        </h4>
        
      </center>
  </div>
  </div>
  </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Улучшения</h4>
        </div>
        <div class="modal-body">
        <div style="position: relative;">
          <% unless current_user.carrier == true %>
          <%= form_for current_user, :url => improfe_path(current_user), method: :put  do |f| %>
                <%= f.submit "Купить улучшение носильщик", class: "btn btn-primary button1", style: 'border-radius: 0px; background-color: #306999; border-color: #306999;', data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
          <div class="description">
            Носильщики: -5% к цене провианта
          </div>
            <% end %>
          <% end %>
        </div>
        <p></p>
        <div style="position: relative;">
          <% unless current_user.conductor == true %>
            <%= form_for current_user, :url => improves_path(current_user), method: :post  do |f| %>
                  <%= f.submit 'Купить улучшение проводник', class: "btn btn-primary button1", style: 'border-radius: 0px; background-color: green; border-color: #306999;', data: { confirm: 'Вы уверены cтоимость 150₽? ' } %>
             <div class="description">
            Проводник: -5% от цены уровня
          </div>
            <% end %>
           <% end %>
        </div>
        <p></p>
         <div style="position: relative;">
          <% unless current_user.aerodrome == true %>
          <%= form_for current_user, :url => buyaerodrome_path(current_user), method: :put  do |f| %>
                <%= f.submit "Купить улучшение запасной аэродром", class: "btn btn-primary button1", style: 'border-radius: 0px; background-color: #306999; border-color: #306999;', data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
          <div class="description">
            -30% уменьшается штраф
          </div>
            <% end %>
          <% end %>
        </div> 
        <p></p>
        <div style="position: relative;">
          <% unless current_user.radist == true %>
          <%= form_for current_user, :url => buyradist_path(current_user), method: :put  do |f| %>
                <%= f.submit "Купить улучшение 'Радист'", class: "btn btn-primary button1", style: 'border-radius: 0px; background-color: #306999; border-color: #306999;', data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
          <div class="description">
            Оповещение о новых провиантов
          </div>
            <% end %>
          <% end %>
        </div> 
        <p></p>
        <div style="position: relative;">
          <% unless current_user.conductor == true && current_user.carrier == true %>
            <%= form_for current_user, :url => buyall_path(current_user), method: :post  do |f| %>
                  <%= f.submit 'Купить все улучшения', class: "btn btn-primary button1", style: 'border-radius: 0px; background-color: #306999; border-color: #306999;', data: { confirm: 'Вы уверены cтоимость 250₽? ' } %>
             <div class="description">
              <p>Проводник: -5% от цены уровня</p>
              <p>Носильщики: -5% к цене провианта</p>
          </div>
            <% end %>
           <% end %>
        </div>
        <p></p>
          <h4 class="well">
          <p>
          <% if current_user.conductor == false && current_user.carrier == false && current_user.aerodrome == false && current_user.radist == false %>
            У вас нету улучшений
          <% else %>
            У вас есть улучшение
          <% end %> 
          <% if current_user.carrier == true  %>
             <b style="color: green;">"Носильщик"</b> |
          <% end %>
          <% if current_user.conductor == true %>
             <b style="color: green;">"Проводник"</b> |
          <% end %>
          <% if current_user.aerodrome == true %>
             <b style="color: green;">"Запасной аэродром"</b> |
          <% end %>
          <% if current_user.radist == true %>
             <b style="color: green;">"Радист"</b> |
          <% end %>
        </p>     
        </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <a type="button"><%= link_to 'Вернуться в профиль', profiles_path, class: "btn btn-default" %></a>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="container">
    <div class="col-lg-12 col-sm-8">
      <div class="card hovercard">
        <div class="card-background">
          <img class="card-bkimg" alt="" src="/img/unnamed.png"> 
        </div>
        <div class="useravatar">
        <img alt="" src="/img/ava.png">
        </div>
        <div class="card-info"> <span class="card-title"><b><%= current_user.name %></span>
        </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
        <div class="hidden-xs">
        <h4>Подтвердите почту что-бы начать игру</h4>
        </div>
      </div>
    </div>
        <div class="panel panel-default" style="border-color: rgba(221, 221, 221, 0); background-color: rgba(255, 255, 255, 0.52);">
        </div>
  <center>
      <% if flash[:balance] %>
        <div class="alert alert-danger" role="alert"><center><%= flash[:balance] %></center></div>
      <% end %>
      
    <div class="well">
        <%= link_to 'Выйти из аккаунта', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>     

        <%= link_to "Подтвердить", new_confirmation_path(current_user), class: 'btn btn-default' %><br />
     </div>
    </center>
<% end %>


<style type="text/css">
  body {
    background: url(img/m.jpg) center top repeat;
  }

  .description {
    display: none;
    position: absolute;
    right: 40px;
    top: 0;
  }
  .button1:hover + .description {
    display: block;
  }
  .left {
  float: left;
  width: 48%;
  width: 37%;
}
.right {
  float: right;
  width: 48%;
}
.hr {
  float: left;
  width: 1px;
  height: 100px;
  margin-left: 2%;
}
  
</style>