<% if current_user.confirmed? %>
  <link rel="stylesheet" href="/fonts/gothamPro/stylesheet.css">
  <% if flash[:balance] %>
    <div class="alert alert-danger" role="alert">
      <center><%= flash[:balance] %></center>
    </div>
  <% end %>
    <div class="container">
      <div class="personal-block">
        <div class="left-photo-block">
          <% ava = current_user.avatars.last %>
          <% if ava.nil? %>
            <img alt="User Pic" src="images/andrew.png" class="img-circle img-responsive"  style="max-width: 80%; margin-bottom: 10px;">
          <% else %>
            <%= image_tag ava.image.url(:thumb), class: "img-circle img-responsive", style: "max-width: 80%; margin-bottom: 10px;" %>
          <% end %>
          <%= form_for Avatar.new do |f| %>
            <input type="file" name="personal-photo" id="avatar">
            <%= f.label :image %>
            <%= f.file_field :image %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <!-- <input type="file" name="personal-photo" id="avatar"> -->
            <!-- <label for="image">загрузить аватар</label> -->
            <button><%= t 'profile.image' %></button>
          <% end %>
        </div>
        <div class="right-presonal-block">
          <p class="name-gamer">
            <%= current_user.name %>
          </p>
          <div class="two-column-person">
            <div class="left-column">
              <div class="levels-gamer">
                <span class="left"><%= t 'profile.level' %></span>
                <span class="right green"><h3><%= current_user.level %></h3></span>
              </div>
              <div class="flow-level">
                <span class="left"><%= t 'profile.status' %></span>
                <span class="right green"><%= t 'profile.invited' %> <h3>
                  <% if current_user.level == 1 %>
                    <% proviants = current_user.refferences.where(level: 1).count %>
                    <% reffers = current_user.inviteds.where(level: 1).count %>
                    <% refs = proviants + reffers %>
                   <% elsif current_user.level == 2 %>
                    <% proviants = current_user.refferences.where(level: 1).count %>
                    <% reffers = current_user.inviteds.where(level: 1).count %>
                    <% refs = (proviants + reffers) - 10 %>
                   <% else %>
                    <% proviants = current_user.refferences.where(level: current_user.level - 1).count %>
                    <% reffers = current_user.inviteds.where(level: current_user.level - 1).count %>
                    <% refs = proviants + reffers %>
                   <% end %>
                </h3><h4><%= refs %>/10</h4></span>
              </div>
              <div class="free-balance">
                <span class="left blue"><%= t 'profile.free' %>:</span>
                <a id="pay_out" href="#"><%= t 'profile.get_money' %></a>
                <span class="right"><%= current_user.transfers.sum(:summa) %></span>
              </div>
            </div>
            <div class="right-column">
              <div class="working-balance">
                <span class="left blue"><%= t 'profile.work' %></span>
                <a id="pay_in" href="#"><%= t 'profile.get_money' %></a>
                <span class="right">
                  <% if current_user.balance.nil? %>
                   0 
                  <% else %>
                   <%= current_user.balance %>  
                  <% end %>
                </span>
              </div>
              <div class="e-mail">
                <span class="left"><strong><%= t 'profile.email' %></strong></span>
                <span class="right"><%= current_user.email %></span>
              </div>
              <div class="referal-u">
                <span class="left"><%= t 'profile.come' %></span>
                <span class="right green">
                  <% if current_user.invited.nil? || current_user.proviant == true %>
                     ---
                  <% else %>
                    <%= current_user.invited.name %>
                  <% end %>
                </span>
              </div>
            </div>
          </div>

          <div class="btn-personal-block">
            <input class="ref-link" type="text" name="referal-link" value="<%= new_user_registration_url(invited_by: current_user.id)  %>" style="width: 640px;" />
            <%= link_to I18n.t('profile.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-danger', style: 'margin-left: 15px; border-radius: 23px; font-size: 20px; margin-bottom: 8px;' %>
            <center>
              <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                <%= f.submit @button, class: "btn btn-primary", style: 'border-radius: 0px;background-color: #49d793; border-color: #49d793; border-radius: 13px; border-color: #49d793; margin-right: 117px;', data: { confirm: 'Вы уверены? ' } %>
              <% end %>
            </center>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="progress_block">
        <div class="levels-item">
          <span><strong><%= t 'profile.level' %> 7</strong></span>
          <span class="level-price">2 533 781,25 руб.</span>
         <% if current_user.level == 7 %>
          <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
            <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
            <button style="position: static;">Купить уровень</button>
            <% end %>
          <% end %>
          <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
         <% elsif current_user.level > 7 %>
           <span class="align-right">10/10</span>
         <% else %>
          <span class="align-right">0/10</span> 
         <% end %>
        </div>
        <div class="levels-item">
          <span><strong><%= t 'profile.level' %> 6</strong></span>
          <span class="level-price">563 062,50 руб.</span>
          <% if current_user.level == 6 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
              <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
              <button style="position: static;">Купить уровень</button>
              <% end %>
            <% end %>
            <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
          <% elsif current_user.level > 6 %>
           <span class="align-right">10/10</span>
          <% else %>
            <span class="align-right">0/10</span>
          <% end %>
        </div>
        <div class="levels-item">
          <span><strong><%= t 'profile.level' %> 5</strong></span>
          <span class="level-price">102 375,00 руб.</span>
          <% if current_user.level == 5 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
              <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
              <button style="position: static;">Купить уровень</button>
              <% end %>
            <% end %>
            <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
          <% elsif current_user.level > 5 %>
           <span class="align-right">10/10</span>
          <% else %>
            <span class="align-right">0/10</span>
          <% end %>
        </div>
        <div class="levels-item">
          <span><strong><%= t 'profile.level' %> 4</strong></span>
          <span class="level-price">17 062,50 руб.</span>
          <% if current_user.level == 4 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
              <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
              <button style="position: static;">Купить уровень</button>
              <% end %>
            <% end %>
            <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
          <% elsif current_user.level > 4 %>
           <span class="align-right">10/10</span>
          <% else %>
            <span class="align-right">0/10</span>
          <% end %>
        </div>
        <div class="levels-item">
          <span><strong><%= t 'profile.level' %> 3</strong></span>
          <span class="level-price">2 625 руб.</span>
          <% if current_user.level == 3 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
              <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
              <button style="position: static;">Купить уровень</button>
              <% end %>
            <% end %>
           <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
          <% elsif current_user.level > 3 %>
           <span class="align-right">10/10</span>
          <% else %>
           <span class="align-right">0/10</span>
          <% end %>
        </div>
        <div class="levels-item">
          <span><strong><%= t 'profile.level' %> 2</strong></span>
          <span class="level-price">375 руб.</span>
          <% if current_user.level == 2 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
              <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>  
              <button style="position: static;">Купить уровень</button>
             <% end %>
            <% end %>
          <span class="align-right"><%= current_user.refferences.where(level: 1).count - 10 + current_user.inviteds.where(level: current_user.level - 1).count %>/10</span>
          <% elsif current_user.level > 2 %>
           <span class="align-right">10/10</span>
          <% else %>
            <span class="align-right">0/10</span>
          <% end %>

        </div>
        <div class="levels-item active-level">
          <span><strong><%= t 'profile.level' %> 1</strong></span>
          <span class="level-price">50 руб.</span>
          <% if current_user.level == 1 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
              <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
                <button style="position: static;">Купить уровень</button>
              <% end %>
            <% end %>
            <span class="align-right"><%= current_user.refferences.where(level: 1).count %>/10</span>
          <% elsif current_user.level > 1 %>
           <span class="align-right">10/10</span>
          <% else %>
           <span class="align-right">0/10</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="start_price full_width">

      <%= form_for :improveses, url: imroveses_path(current_user.id), method: :post do |f| %>
          <div class="start_price_block">
            <div class="start_price_extensions">
              <strong><%= t 'profile.dops' %></strong>
              <div class="start_price_extensions_item radio">
                <div class="icon"><%= t 'profile.radist' %></div>
                <div class="start_price_extensions_item_price">
                  50 <%= t 'profile.ruble' %>
                </div>
                <div class="start_price_extensions_item_check">
                  <% if current_user.radist == true %>
                    <a>У вас уже есть это улучшение</a>
                  <% else %>
                    <label for="radist" style='margin: 4px 0 -3px;'><%= f.check_box :radistbuy, id: "radist" %> </label>
                  <% end %>
                  <i class="start_price_extensions_item_help">
                    ?
                    <span class="tooltip">
                      Система уведомлений. Активирует систему оповещения о различных действиях на сайте и профиле пользователя
                    </span>
                  </i>
                </div>
              </div>
              <div class="start_price_extensions_item guide">
                <div class="icon"><%= t 'profile.conductor' %></div>
                <div class="start_price_extensions_item_price">
                  500 <%= t 'profile.ruble' %>
                </div>
                <div class="start_price_extensions_item_check">
                  <% if current_user.conductor == true %>
                    <a>У вас уже есть это улучшение</a>
                  <% else %>
                    <label for="radist" style='margin: 4px 0 0px;'><%= f.check_box :conductorbuy %></label>
                  <% end %>
                  <i class="start_price_extensions_item_help">
                    ?
                    <span class="tooltip">
                      Снижает цену уровня на 5%
                    </span>
                  </i>
                </div>
              </div>
              <div class="start_price_extensions_item porter">
                <div class="icon"><%= t 'profile.carrier' %></div>
                <div class="start_price_extensions_item_price">
                  200 <%= t 'profile.ruble' %>
                </div>
                <div class="start_price_extensions_item_check">
                  <% if current_user.carrier == true %>
                    <a>У вас уже есть это улучшение</a>
                  <% else %>
                    <label for="radist" style='margin: 4px 0 -1px;'><%= f.check_box :carrierbuy %></label>
                  <% end %>
                  <i class="start_price_extensions_item_help">
                    ?
                    <span class="tooltip">
                      Снижает цену провианта на 15%
                    </span>
                  </i>
                </div>
              </div>
              <div class="start_price_extensions_item helicopter">
                <div class="icon"><%= t 'profile.vert' %></div>
                <div class="start_price_extensions_item_price">
                  2000 <%= t 'profile.ruble' %>
                </div>
                <div class="start_price_extensions_item_check">
                  <% if current_user.aerodrome == true %>
                    <a>У вас уже есть это улучшение</a>
                  <% else %>
                    <label for="radist" style='margin: 4px 0 0px;'><%= f.check_box :aerodrombuy %></label>
                  <% end %>
                  <i class="start_price_extensions_item_help">
                    ?
                    <span class="tooltip">
                      Уменьшает штраф на вывод рабочего баланса с 50% на 30%
                    </span>
                  </i>
                </div>
              </div>
            </div>
          </div>
          <center><%= f.submit 'Купить улучшения', class: 'btn btn-default', style: 'width: 266px; height: 52px; background-color: #49d793; color: #fff; border-radius: 40px; font-weight: bold; font-size: 23px;' %></center>
      <% end %>

          <hr style="border-top: 1px solid #49d793;">
          <div class="price-prev">
            <p><%= t 'profile.prices' %> <span class="green">
            <% if current_user.level == 1 %>
              <%= current_user.level %>
            <% else %>             
              <%= current_user.level - 1 %>
            <% end %>
            </span></p>
            <span><strong> <%= summproviant %> <%= t 'profile.ruble' %>.</strong></span>
            <% summs = summproviant.to_i %>
            <% procent = summs - (summs * 0.05) %>
            <p class="flr"><span class="green">-5%  <%= t 'profile.dops' %></span><%= procent %> <%= t 'profile.ruble' %>.</p>
          </div>
          <div class="start_price_total">
            <div class="left_side">
            <%= form_for :counts, url: buynumb_path(current_user.id), method: :post do |f| %>
              <p><%= t 'profile.enterp' %></p>
              <%= f.number_field :size_to_buy, class: 'form-control', id: 'exampleInputPassword1', style: 'font-size: 21px;' %>
            </div>
            <div class="right_side">
              <b class="start_price_total_price">
              <% if current_user.level == 1 %>
                 <div style="margin-left: 391px;"> <%= t 'profile.freeprov' %> <b><%= User.where("level = 1 AND reffered_by = 0 AND created_at > ?", current_user.created_at).count %></b></div>
              <% else %>
                <div style="margin-left: 391px;"> <%= t 'profile.freeprov' %> <b><%= User.where(reffered_by: 0, level: current_user.level - 1).count %></b></div>
              <% end %>
              </b>
            </div>
          </div>
          <button><%= t 'profile.buy' %></button>
          <% end %>
          <!--- Конец формы -->
      </div>
    </div>

    <div class="referal-block">
      <div class="container">
        <h2><%= t 'profile.activeonl' %></h2>
        <table>
          <thead>
            <tr>
              <th><%= t 'profile.reffs' %></th>
              <th><%= t 'profile.level' %></th>
              <th><%= t 'profile.doxod' %></th>
            </tr>
          </thead>
          <tbody>
           <% current_user.inviteds.each do |ref| %>
            <tr>
              <td><%= ref.name %></td>
              <td><%= ref.level %></td>
              <td><%= ref.balance %></td>
            </tr>
           <% end %>
          </tbody>
        </table>
        <button>Показать всех</button>
      </div>
    </div>
  <%= render '/feedbacks/form' %>
  
    <div class="footer">
      <div class="container">
        <span class="arrow_up">⌃</span>
         <div class="footer_title">Нравится наш сервис? Поделитесь в социальных сетях:</div>
         <div class="footer_social">
            <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=https://king-mountain.pro/&st.comments=ЦарьГоры" target="_blank" class="footer_social_item"><img src="/images/ic-ok.png" height="39" width="39" alt="OK"></a>
            <a href="https://www.facebook.com/sharer.php?u=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="/images/ic-fb.png" height="26" width="12" alt="Facebook"></a>
            <a href="https://vk.com/share.php?url=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="/images/ic-vk.png" height="18" width="30" alt="VK"></a>
            <a href="https://twitter.com/share?url=https://king-mountain.pro/&text=Царь Горы" target="_blank" class="footer_social_item"><img src="/images/ic-tw.png" height="20" width="24" alt="Twitter"></a>
         </div>
         <div class="footer_logo">
            <img src="/images/footer_logo.png" height="45" width="109" alt="Царь горы">
         </div>
         <div class="footer_copyright">
            ООО Игра - “Царь горы” 2017 Все права защищены.
         </div>
      </div>
    </div>

<% else %>

<div class="container">
    <div class="col-lg-12 col-sm-8">
      <div class="card hovercard">
        <div class="card-background">
          <img class="card-bkimg" alt="" src="/img/unnamed.png"> 
        </div>
        <div class="useravatar">
        <img alt="" src="/img/ava.png">
        </div>
        <div class="card-info"> <span class="card-title"><b><%= current_user.name %></span>
        </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
        <div class="hidden-xs">
        <h4>На ваш email отправлено письмо подтвердите, что-бы вступить в игру.</h4>
        </div>
      </div>
    </div>
        <div class="panel panel-default" style="border-color: rgba(221, 221, 221, 0); background-color: rgba(255, 255, 255, 0.52);">
        </div>
  <center>
      <% if flash[:balance] %>
        <div class="alert alert-danger" role="alert"><center><%= flash[:balance] %></center></div>
      <% end %>
      
    <div class="well">
        <%= link_to 'Выйти из аккаунта', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>     

        <%= link_to "Отправить письмо повторно", new_confirmation_path(current_user), class: 'btn btn-default' %><br />
     </div>
    </center>
<% end %>