<div class="container">
<div class="col-lg-12 col-sm-8">
   <div class="card hovercard">
      <div class="card-background">
         <img class="card-bkimg" alt="" src="/img/unnamed.png"> 
         <!-- http://lorempixel.com/850/280/people/9/ -->
      </div>
      <div class="useravatar">
         <img alt="" src="/img/ava.png">
      </div>
      <div class="card-info"> <span class="card-title"><b><%= current_user.name %></span>
      </div>
   </div>
   <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
      <div class="btn-group" role="group">
         <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <div class="hidden-xs">
               <h4>Ваш уровень: <b style="color: green;"><%= current_user.user_level %></b> | Приглашено <b style="color: green;"><%= current_user.refferences.count %></b> |  Ваш баланс: <b style="color: green;">
                <% if current_user.balance.nil? %>
                 0 
                <% else %>
                 <%= current_user.balance %>
                <% end %>
                 </b></h4>
            </div>

         </button>
         <%= link_to 'Выйти из аккаунта', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

            <% if flash[:balance] %>
              <div class="alert alert-danger" role="alert"><center><%= flash[:balance] %></center></div>
            <% end %>
      </div>
   </div>
   <p>
    <%= form_for current_user, :url => profile_path(current_user), method: :put  do |f| %>
          <%= f.submit "Купить 1 провианта", class: "btn btn-success", data: { confirm: 'Стоимость 50руб вы уверены ? ' } %>
    <% end %>
    </p>

   <center>
   <hr style="border-top: 1px solid rgba(238, 238, 238, 0.02);">
     <div class="form-inline" >
        <input type="text" id="copyTarget" class="form-control" value="<%= new_user_registration_url(referred_by: current_user.id)  %>"> 
        <button id="copyButton" class="btn btn-primary">Копировать реферальную ссылку</button>
      </div>
    </center>
</div>


<% if current_user.reffered %>
  <%= current_user.reffered.name %>
<% end %>




<style type="text/css">
  body {
    background: url(http://www.allfons.ru/pic/201201/1440x900/allfons.ru-4922.jpg) right top repeat;
  }
  
</style>