<link rel="stylesheet" href="/fonts/segoeUI/stylesheet.css">
<link rel="stylesheet" href="/fonts/gothamPro/stylesheet.css">

<% if current_user.confirmed? %>
<p></p>
  <div class="container">
  <div class="col-lg-12 col-sm-8">
    <% if flash[:balance] %>
      <div class="alert alert-danger" role="alert">
        <center><%= flash[:balance] %></center>
      </div>
    <% end %>

    <div class="container">
    <div class="personal-block">
      <div class="left-photo-block">
        <% ava = current_user.avatars.last %>
        <% if ava.nil? %>
          <img alt="User Pic" src="images/andrew.png" class="img-circle img-responsive", style="margin: 25px; margin-top: 68px;">
        <% else %>
          <%= image_tag ava.image.url(:thumb), class: "img-circle img-responsive", style: 'margin: 25px;' %>
        <% end %>
        <!-- <input type="file" name="personal-photo" id="avatar"> -->
        <!-- <label for="avatar"> -->
        <!-- </label> -->
          <%= form_for Avatar.new do |f| %>
            <%= f.label :image, I18n.t('profile.imagechose') %>
            <%= f.file_field :image %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
      <div class="right-presonal-block">
            <%= f.submit I18n.t('profile.image'), class: 'btn btn-default' %>
          <% end %>
        <p class="name-gamer">
          <%= current_user.name %>
        </p>
        <div class="two-column-person">
          <div class="left-column">
            <div class="levels-gamer">
              <span class="left"><%= t 'profile.level' %></span>
              <span class="right green"><h3><%= current_user.level %></h3></span>
            </div>
            <div class="flow-level">
              <span class="left"><%= t 'profile.status' %></span>
              <span class="right green"><%= t 'profile.invited' %> <h3>
                <% if current_user.level == 1 %>
                  <%= current_user.refferences.where(level: 1).count %>
                <% elsif current_user.level == 2 %>
                  <%= current_user.refferences.where(level: 1).count - 10 %>
                <% else %>
                  <%= current_user.refferences.where(level: current_user.level - 1).count %>
                <% end %>
              </h3><h4>/10</h4></span>
            </div>
            <div class="free-balance">
              <span class="left blue"><%= t 'profile.free' %>:</span>
              <span class="right"><%= current_user.balance %></span>
            </div>
          </div>
          <div class="right-column">
            <div class="working-balance">
              <span class="left blue"><%= t 'profile.work' %></span>
              <span class="right"><%= current_user.transfers.sum(:summa) %></span>
            </div>
            <div class="e-mail">
              <span class="left"><strong><%= t 'profile.email' %></strong></span>
              <span class="right"><%= current_user.email %></span>
            </div>
            <div class="referal-u">
              <span class="left"><%= t 'profile.come' %></span>
              <span class="right green">Hard</span>
            </div>
          </div>
        </div>
        <div class="btn-personal-block">
          <input class="ref-link" type="text" name="referal-link" value="<%= new_user_registration_url(referred_by: current_user.id)  %>" style="width: 461px;" />
          <!-- <button class="copy-link">Copy</button> -->
          <button class="exit"><%= link_to I18n.t('profile.sign_out'), destroy_user_session_path, method: :delete, style: "color: #fff;" %></button>
        </div>
      </div>
    </div>
  </div>

<center>
        <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
          <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
              <%= f.submit @button, class: "btn btn-primary", style: 'border-radius: 0px;background-color: #49d793; border-color: #49d793; border-radius: 13px; border-color: #49d793; margin-left: 98px;', data: { confirm: 'Вы уверены? ' } %>
          <% end %>
        <% end %>
        <p></p>
  <div class="container">
    <div class="progress_block">
      <div class="levels-item">
        <span><strong>Уровень 7</strong></span>
        <span class="level-price">8 312,50 руб.</span>
      <% if current_user.level == 7 %>
        <button>
        <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
          <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
           <%= f.submit @button, class: 'btn btn-default' %>
          <% end %>
        </button>
      <% end %>
        <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
    <% else %>
        <span class="align-right">0/10</span>    
      </div>
    <% end %>
      <div class="levels-item">
        <span><strong>Уровень 6</strong></span>
        <span class="level-price">8 312,50 руб.</span>
        <% if current_user.level == 6 %>
        <button>
          <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
            <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
             <%= f.submit @button, class: 'btn btn-default' %>
            <% end %>
          <% end %>
        </button>
         <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
        <% else %>
         <span class="align-right">0/10</span>
        <% end %>
      </div>
      <div class="levels-item">
        <span><strong>Уровень 5</strong></span>
        <span class="level-price">8 312,50 руб.</span>
        <% if current_user.level == 5 %>
        <button>
          <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
            <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
             <%= f.submit @button, class: 'btn btn-default' %>
            <% end %>
          <% end %>
        </button>
        <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
        <% else %>
        <span class="align-right">0/10</span>
        <% end %>
      </div>
      <div class="levels-item">
        <span><strong>Уровень 4</strong></span>
        <span class="level-price">8 312,50 руб.</span>
        <% if current_user.level == 4 %>
        <button>
          <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
            <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
             <%= f.submit @button, class: 'btn btn-default' %>
            <% end %>
          <% end %>
        </button>
        <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
       <% else %>
        <span class="align-right">0/10</span>
       <% end %>
      </div>
      <div class="levels-item">
        <span><strong>Уровень 3</strong></span>
        <span class="level-price">1 312,50 руб.</span>
        <% if current_user.level == 3 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
            <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
             <%= f.submit @button, class: 'btn btn-default' %>
            <% end %>
          <% end %>
          <span class="align-right"><%= current_user.refferences.where(level: current_user.level - 1).count %>/10</span>
        <% else %>
          <span class="align-right">0/10</span>
        <% end %>
      </div>
      <div class="levels-item">
        <span><strong>Уровень 2</strong></span>
        <span class="level-price">187,50 руб.</span>
        <% if current_user.level == 2 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
              <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
               <%= f.submit @button, class: 'btn btn-default', style: 'margin-left: 10px;' %>
              <% end %>
            <% end %>
          <span class="align-right"><%= current_user.refferences.where(level: 1).count - 10 %>/10</span>
      <% else %>
        <span class="align-right">0/10</span> 
      <% end %>
      </div>
      <div class="levels-item active-level">
        <span><strong>Уровень 1</strong></span>
        <span class="level-price">50 руб.</span>
        <% if current_user.level == 1 %>
            <% if @check_button >= current_user.level * 10 || current_user.level == 0 %>
               <%= form_for current_user, :url => profiles_path(current_user), method: :post  do |f| %>
               <%= f.submit @button, class: 'btn btn-default', style: 'margin-left: 10px;' %>
              <% end %>
            <% end %>
        <span class="align-right"><%= current_user.refferences.where(level: 1).count %>/10</span>
        <% else %>
          <span class="align-right">0/10</span> 
        <% end %>
      </div>
    </div>
  </div>
</center>

  <div class="container">
    <div class="start_price full_width">
      <form action="#">
        <div class="start_price_block">
          <div class="start_price_extensions">
            <strong>Дополнения</strong>
            <div class="start_price_extensions_item radio">
              <div class="icon">Радист</div>
              <div class="start_price_extensions_item_price">
                50 руб
              </div>
              <div class="start_price_extensions_item_check">
                <input type="checkbox" name="" id="radist"><label for="radist"><span></span></label>
                <i class="start_price_extensions_item_help">
                  ?
                  <span class="tooltip">
                    Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                  </span>
                </i>
              </div>
            </div>
            <div class="start_price_extensions_item guide">
              <div class="icon">Проводник</div>
              <div class="start_price_extensions_item_price">
                150 руб.
              </div>
              <div class="start_price_extensions_item_check">
                <input type="checkbox" name="" id="provodnic"><label for="provodnic"><span></span></label>
                <i class="start_price_extensions_item_help">
                  ?
                  <span class="tooltip">
                    Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                  </span>
                </i>
              </div>
            </div>
            <div class="start_price_extensions_item porter">
              <div class="icon">Носильщик</div>
              <div class="start_price_extensions_item_price">
                100 руб.
              </div>
              <div class="start_price_extensions_item_check">
                <input type="checkbox" name="" id="nosilchik"><label for="nosilchik"><span></span></label>
                <i class="start_price_extensions_item_help">
                  ?
                  <span class="tooltip">
                    Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                  </span>
                </i>
              </div>
            </div>
            <div class="start_price_extensions_item helicopter">
              <div class="icon">Эвакуационный вертолёт</div>
              <div class="start_price_extensions_item_price">
                200 руб.
              </div>
              <div class="start_price_extensions_item_check">
                <input type="checkbox" name="" id="vertolet"><label for="vertolet"><span></span></label>
                <i class="start_price_extensions_item_help">
                  ?
                  <span class="tooltip">
                    Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                  </span>
                </i>
              </div>
            </div>
          </div>
        </div>
        <div class="start_price_quantity">
          <div class="left_side">
             <%= form_for :counts, url: buynumb_path(current_user.id), method: :post do |f| %>
                <%= f.number_field :size_to_buy, style: 'margin-left: 371px' %>
                <%= f.submit I18n.t('profile.buy'), class: "btn btn-primary", style: 'border-radius: 0px;background-color: #49d793; border-color: #49d793; border-radius: 13px; border-color: #49d793; ' %>
                 <% if current_user.level == 1 %>
                   <div style="margin-left: 391px;"> Свободных провиантов <b><%= User.where("level = 1 AND reffered_by = 0 AND created_at > ?", current_user.created_at).count %></b></div>
                <% else %>
                <p></p>
                  <div style="margin-left: 391px;">Свободных провиантов <b><%= User.where(reffered_by: 0, level: current_user.level - 1).count %></b></div>
                <% end %>
              <% end %>
          </div>
          <div class="right_side">
            <div class="start_price_quantity_counter">
            </div>
          </div>
        </div>

       
        </form>
    </div>
  </div>

  <div class="referal-block" style="margin-left: 50px;">
    <div class="container" style="width: 100%;">
      <h2>Партнерская активность</h2>
      <table>
        <thead>
          <tr>
            <th>Рефералы</th>
            <th>Уровень</th>
            <th>Доход</th>
          </tr>
        </thead>
        <tbody>
        <% current_user.refferences.each do |ref| %>
          <tr>
            <td><%= ref.name %></td>
            <td><%= ref.level %></td>
            <td><%= ref.balance %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= render '/feedbacks/form' %>


<% else %>
  <div class="container">
    <div class="col-lg-12 col-sm-8">
      <div class="card hovercard">
        <div class="card-background">
          <img class="card-bkimg" alt="" src="/img/unnamed.png"> 
        </div>
        <div class="useravatar">
        <img alt="" src="/img/ava.png">
        </div>
        <div class="card-info"> <span class="card-title"><b><%= current_user.name %></span>
        </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
        <div class="hidden-xs">
        <h4>На ваш email отправлено письмо подтвердите, что-бы вступить в игру.</h4>
        </div>
      </div>
    </div>
        <div class="panel panel-default" style="border-color: rgba(221, 221, 221, 0); background-color: rgba(255, 255, 255, 0.52);">
        </div>
  <center>
      <% if flash[:balance] %>
        <div class="alert alert-danger" role="alert"><center><%= flash[:balance] %></center></div>
      <% end %>
      
    <div class="well">
        <%= link_to 'Выйти из аккаунта', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>     

        <%= link_to "Отправить письмо повторно", new_confirmation_path(current_user), class: 'btn btn-default' %><br />
     </div>
    </center>
<% end %>




