<% if current_user.admin? %>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <%= render 'shared/left_bar' %>
        </div>

        <!-- top navigation -->
        <!-- top navigation -->
        <%= render 'shared/top_nav' %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Тарифные планы</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-12">
                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>Монблан</h2>
                              <h1>50 ₽</h1>
                              <span>Активный</span>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style="min-height: 0px;">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-check text-success"></i>7 уровней. Прогресс 10/10 <br>
                                    Общая прибыль 2 533 781,25 ₽</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Войти в комнату</a>
                                <p>
                                  <a href="javascript:void(0);">Подробнее</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing ui-ribbon-container">
                            <div class="ui-ribbon-wrapper">
                              <div class="ui-ribbon">
                                Популярный
                              </div>
                            </div>
                            <div class="title">
                              <h2>Эльбрус</h2>
                              <h1>500 ₽</h1>
                              <span>Не активный</span>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style="min-height: 0px;">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-check text-success"></i> 6 уровней. Прогресс 10/10 <br>
                                    Общая прибыль 2 992 344,98 ₽</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Купить</a>
                                <p>
                                  <a href="javascript:void(0);">Подробнее</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>Килиманджаро 2500</h2>
                              <h1>2500 ₽</h1>
                              <span>Не активный</span>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style="min-height: 0px;">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-check text-success"></i> 5 уровней. Прогресс 10/10 <br> Общая прибыль 3 378 375,00 ₽</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Купить</a>
                                <p>
                                  <a href="javascript:void(0);">Подробнее</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>Эверест 5000</h2>
                              <h1>5000 ₽</h1>
                              <span>Не активный</span>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features" style="min-height: 137px;">
                                  <ul class="list-unstyled text-left">
                                    <li><i class="fa fa-check text-success"></i> 4 уровня. Прогресс 15/15 <br> 4 146 187,50 ₽</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Купить</a>
                                <p>
                                  <a href="javascript:void(0);">Подробнее</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="row tile_count">
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Ваши рефералы</span>
                    <div class="count"><%= current_user.inviteds.count %></div>
                    <span class="count_bottom"><i class="green">+<%= current_user.inviteds.where("created_at >= ?", Time.zone.now.beginning_of_day).size %>  </i> Сегодня</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Вы пришли от</span>
                    <div class="count">
                      <% if current_user.invited.nil?  %>
                       -
                      <% else %>
                        <%= current_user.invited.name %>
                      <% end %>
                    </div>
                    <span class="count_bottom">Задать вопрос</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Свободный балланс</span>
                    <div class="count green"><%= current_user.transfers.sum(:summa) %></div>
                    <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>+12 </i> Сегодня</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Счетчик активности</span>
                    <div class="count">02:31</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>15 </i> Баллов</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Баллы</span>
                    <div class="count">
                    <% if current_user.ball.nil? %>
                      0
                    <% else %>
                      <%= current_user.ball.round(2) %>
                    <% end %>
                    </div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34 </i> Сегодня</span>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Участников</span>
                    <div class="count"><%= User.all.count %></div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>+<%= User.where("created_at >= ?", Time.zone.now.beginning_of_day).size %> </i> Cегодня</span>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Баллы за пост</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content minh">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <p>Сделай пост в соцсетях и зарабатывай баллы</p>
                          <div class="soc_link">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                          </div>
                          <div class="referal_link">
                            <p>Ваша реферальная ссылка</p>
                            <div>
                              <input type="text" id="copy_link" readonly="readonly" value="referal_link" />
                              <button class="btn-clipboard btn-success" data-clipboard-target="#copy_link">Копировать</button>
                            </div>
                          </div>
                          <button class="btn-success btn_for_friend">Поделись с другом</button>
                          <div class="referal_statistic">
                            <p class="flr">10</p>
                            <div style="clear: both;"></div>
                            <p class="fll">Заработано баллов</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Прогресс</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content minh">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h2>Тарифные планы</h2>
                          <table class="tarifs_plan">
                            <tbody>
                              <tr>
                                <td>Моблан 50</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="80" aria-valuenow="80" style="width: 80%;"></div>
                                    <p>Уровень 5</p>
                                  </div>
                                </td>
                                <td>8/10</td>
                              </tr>
                              <tr>
                                <td>Эльбрус 500</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="80" aria-valuenow="80" style="width: 80%;"></div>
                                    <p>Уровень 2</p>
                                  </div>
                                </td>
                                <td>8/10</td>
                              </tr>
                              <tr>
                                <td>Килиманджаро 2500</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="80" aria-valuenow="80" style="width: 80%;"></div>
                                    <p>Уровень 3</p>
                                  </div>
                                </td>
                                <td>8/10</td>
                              </tr>
                              <tr>
                                <td>Эверест 5000</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="80" aria-valuenow="80" style="width: 80%;"></div>
                                    <p>Уровень 1</p>
                                  </div>
                                </td>
                                <td>8/10</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Top profiles</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <ul class="list-unstyled msg_list">
                   <% User.order("level DESC").limit(7).each do |user| %>
                    <li>
                      <a>
                        <span class="image">
                          <img src="images/img.jpg" alt="img" />
                        </span>
                        <span>
                          <span><%= user.name %></span>
                          <span class="time"><%= user.level %> level</span>
                        </span>
                        <span class="message">
                         
                        </span>
                      </a>
                    </li>
                   <% end %>
                  </ul>
                </div>
              </div>
            </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2><%= link_to 'Общий Чат', chats_path %></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content minh">
                      <div class="row">
                        <ul id="common_messages" class="">
                          <% CommonChatMessage.last(10).reverse.each do |message| %>
                              <%= render 'common_chat_messages/common_chat_message', common_chat_message: message %>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Новости сайта</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content minh">

                      <div class="">
                        <ul class="to_do">
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Schedule meeting with new client </p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Create email address for new intern</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Have IT fix the network printer</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Copy backups to offsite location</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Ваши действия</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <ul class="list-unstyled timeline">
                    <li>
                      <div class="block ml0">
                        <div class="block_content">
                          <h2 class="title">
                              <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                          </h2>
                          <div class="byline">
                            <span>13 hours ago</span> by <a>Jane Smith</a>
                          </div>
                          <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="block ml0">
                        <div class="block_content">
                          <h2 class="title">
                              <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                          </h2>
                          <div class="byline">
                            <span>13 hours ago</span> by <a>Jane Smith</a>
                          </div>
                          <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="block ml0 ">
                        <div class="block_content">
                          <h2 class="title">
                              <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                          </h2>
                          <div class="byline">
                            <span>13 hours ago</span> by <a>Jane Smith</a>
                          </div>
                          <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="block ml0">
                        <div class="block_content">
                          <h2 class="title">
                              <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                          </h2>
                          <div class="byline">
                            <span>13 hours ago</span> by <a>Jane Smith</a>
                          </div>
                          <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
          </div>
          </div>
<% else %>
  <body class="nav-md" style="background: #fff">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
            <img src="images/footer_logo.png" height="45" width="109" alt="Царь горы">
              <h1 class="error-number">Тех работы</h1>
              <h2>Извините, на данный момент идут тех.работы</h2>
              <p>Извините, на данный момент идут тех.работы <a href="https://king-mountain.pro/">Вернитесь назад</a>
              </p>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
<% end %>