<% if current_user.confirmed? %>
    <% if flash[:balance] %>
      <div class="alert alert-danger" role="alert">
        <center><%= flash[:balance] %></center>
      </div>
    <% end %>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="<%= profiles_path %>" class="site_title"><i class="fa fa-paw"></i> <span>King of mountain</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><%= current_user.name %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Панель управления</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Главная <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="<%= new_order_path %>">Пополнить</a></li>
                      <li><a href="<%= mobline_path %>">Профиль</a></li>
                      <li><a href="index3.html">Поддержка</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Партнеры <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="form.html">General Form</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> FAQ 'Царь Горы' <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="<%= faq_path %>">Часто задаваемые вопросы</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.jpg" alt=""><%= current_user.name %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="<%= mobline_path %>"> Profile</a></li>
                    <li>
                      <a href="<%= edit_user_registration_path(current_user) %>">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="<%= faq_path %>">Help</a></li>
                    <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ваш профиль <small>Инофрмация</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <% ava = current_user.avatars.last %>
                            <% if ava.nil? %>
                              <img alt="User Pic" src="images/andrew.png" class="img-circle img-responsive"  style="max-width: 80%; margin-bottom: 10px;">
                            <% else %>
                              <%= image_tag ava.image.url(:thumb), class: "img-circle img-responsive", style: "max-width: 80%; margin-bottom: 10px;" %>
                            <% end %>
                        </div>
                      </div>
                      <h3><%= current_user.name %></h3>

                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-money"></i>
                        <a id="pay_out" href="#">Вывести свободный баланс</a>
                        </li>

                        <li>
                          <i class="fa fa-money"></i>
                          <a id="pay_in" href="#">Вывести рабочего баланса</a>
                        </li>

                        <li class="m-top-xs">
                          <i class="fa fa-rocket"></i>
                          <a href="http://www.kimlabs.com/profile/" target="_blank">Купить уровень</a>
                        </li>
                      </ul>
                      <hr>
                      <%= form_for Avatar.new do |f| %>
                        <center><%= f.label :Изменить_картинку %></center>
                        <%= f.file_field :image %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <!-- <input type="file" name="personal-photo" id="avatar"> -->
                        <!-- <label for="image">загрузить аватар</label> -->
                        <p></p>
                        <center><button class="btn btn-success"><i class="fa fa-refresh"></i> Изменить</button></center>
                      <% end %>
                      <br />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <span>ЗАПОЛНИ СВОЙ ПРОФИЛЬ И ПОЛУЧИ БОНУС ==> <b><%= link_to 'Получить баллы', getbonus_path(current_user.id), method: :put %></b>
                  </span>
                      <a class="flr" href="<%= edit_user_registration_path(current_user) %>">Заполнить</a>
                      <hr class="profile_hr">
                      <div class="profile_det">
                        <div>
                          <p>Страна</p>
                          <a><%= current_user.country %></a>
                        </div>
                        <hr class="profile_hr">
                        <div>
                          <p>Ваши провианты</p>
                          <a>
                            <% if current_user.level == 1 %>
                              <% proviants = current_user.refferences.where(level: 1).count %>
                              <% refs = proviants %>
                            <% elsif current_user.level == 2 %>
                              <% proviants = current_user.refferences.where(level: 1).count %>
                              <% reffers = current_user.inviteds.where(level: 1).count %>
                              <% refs = (proviants + reffers) - 10 %>
                            <% else %>
                              <% proviants = current_user.refferences.where(level: current_user.level - 1).count %>
                              <% reffers = current_user.inviteds.where(level: current_user.level - 1).count %>
                              <% refs = proviants + reffers %>
                           <% end %>
                           <%= refs %>/10
                          </a>
                        </div>                        <hr class="profile_hr">
                        <div>
                          <p><strong>Email</strong></p>
                          <a><%= current_user.email %></a>
                        </div>
                        <hr class="profile_hr">
                        <div>
                          <p>Дата регистрации</p>
                          <a><%= current_user.created_at.strftime("%d %b. %Y") %></a>
                        </div>
                        <hr class="profile_hr">
                        <div>
                          <p>Ваш свободный баланс</p>
                          <a><%= current_user.transfers.sum(:summa) %></a>
                        </div>
                        <hr class="profile_hr">
                        <div>
                          <p>Ваш рабочий баланс</p>
                          <a>
                           <% if current_user.balance.nil? %>
                              0
                            <% else %>
                              <%= current_user.balance %>
                            <% end %>
                          </a>
                        </div>
                        <hr class="profile_hr">
                        <div>
                          <p>Уровень</p>
                          <a><%= current_user.level %></a>
                        </div>
                        <hr class="profile_hr">
                      </div>

                      <br><br>
                      <span>КОНТАКТЫ</span>
                      <hr class="profile_hr">
                      <div class="profile_det">
                        <div>
                          <p>Моб. телефон</p>
                          <a><%= current_user.phone %></a>
                        </div>
                        <hr class="profile_hr">
                        <div>
                          <p>Имя</p>
                          <a><%= current_user.name %></a>
                        </div>
                        <hr class="profile_hr">
                        <div>
                          <p>Фамилия</p>
                          <a><%= current_user.surname %></a>
                        </div>
                        <hr class="profile_hr">
                        <div>
                          <p>Skype</p>
                          <a><%= current_user.skype %></a>
                        </div>
                        <hr class="profile_hr">
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Купить провианта</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content minh">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <p>Поделитесь в соц.сетях</p>
                          <div class="soc_link">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                          </div>
                          <div class="referal_link">
                            <p>Купить провиантов</p>
                            <%= form_for :counts, url: buynumb_path(current_user.id), method: :post do |f| %>
                            <div>
                              <%= f.number_field :size_to_buy, class: 'form-control', id: 'exampleInputPassword1', style: 'font-size: 21px;' %>
                              <button class="btn-clipboard btn-success" data-clipboard-target="#copy_link">Купить</button>
                            </div>
                            <% end %>
                          </div>
                          <!-- <button class="btn-success btn_for_friend">Поделись с другом</button> -->
                          <div class="referal_statistic">
                            <p class="flr"></p>
                            <div style="clear: both;"></div>
                            <p class="fll"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> FAQ <small>Узнавайте все новости сайта</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <% Faq.all.each do |f| %>
                          <li role="presentation" class=""><a href="#tab_content<%= f.id %>" role="tab" id="profile-tab<%= f.id %>" data-toggle="tab" aria-expanded="false"><%= f.name %></a>
                          </li>
                        <% end %>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <% Faq.all.each do |f| %>
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content<%= f.id %>" aria-labelledby="home-tab">
                            <p><%= f.desc %></p>
                          </div>
                        <% end %>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="../vendors/raphael/raphael.min.js"></script>
    <script src="../vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

  </body>
</html>

<% else %>

  <div class="container">
    <div class="col-lg-12 col-sm-8">
      <div class="card hovercard">
        <div class="card-background">
          <img class="card-bkimg" alt="" src="/img/unnamed.png"> 
        </div>
        <div class="useravatar">
        <img alt="" src="/img/ava.png">
        </div>
        <div class="card-info"> <span class="card-title"><b><%= current_user.name %></span>
        </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
        <div class="hidden-xs">
        <h4>На ваш email отправлено письмо подтвердите, что-бы вступить в игру.</h4>
        </div>
      </div>
    </div>
        <div class="panel panel-default" style="border-color: rgba(221, 221, 221, 0); background-color: rgba(255, 255, 255, 0.52);">
        </div>
  <center>
      <% if flash[:balance] %>
        <div class="alert alert-danger" role="alert"><center><%= flash[:balance] %></center></div>
      <% end %>
      
    <div class="well">
        <%= link_to 'Выйти из аккаунта', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>     

        <%= link_to "Отправить письмо повторно", new_confirmation_path(current_user), class: 'btn btn-default' %><br />
     </div>
    </center>
<% end %>