<p id="notice"><%= notice %></p>

<h1>Chat Rooms</h1>

<table class="table">
  <thead>
    <tr>
      <th>переписка с пользователем:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chat_rooms.each do |chat_room| %>
      <% other_user = '' %>
      <% chat_room.users.each do |user| %>
        <% other_user = user if user != current_user  %>
      <% end %>
      <tr>
        <td>
              <%= other_user.name  %>
          </td>
        <td>

          <%= link_to 'Перейти в комнату чата',
                      chat_rooms_path(:other_user => other_user.id),
                      method: :post %>
        </td>
        <td><%= current_user.messages_to_read.where(chat_room_id: chat_room.id).count %></td>
        <td><%= link_to 'Очистить чат', chat_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat Room', new_chat_room_path %>
