<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  Переписка с <%= @other_user.name %>
</p>

<div class="row">
	<div class="col-sm-5">

		<%= form_for Message.new, remote: true do |f| %>
	  

		  <div class="field">
		    <%= f.label :body %>
		    <%= f.text_area :body %>
		  </div>

		  <div class="field">
		    
		    <%= f.hidden_field :chat_room_id, value: @chat_room.id %>
		  </div>

		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>

		
	</div>
	<hr>
	<div class="col-sm-7 messages">
		<%= render @messages %>
	</div>

  <%= will_paginate @messages %>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        if ($('.pagination').length) {

            $(window).scroll(function() {
                var url = $('.pagination .next_page').attr('href');
                if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
                    $('.pagination').text("Загружается...");
                    return $.getScript(url);
                }
            });
            return $(window).scroll();

        }
    });
</script>


