<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chat_room.title %>
</p>

<div class="row">
	<div class="col-sm-5">

		<%= form_for Message.new, remote: true do |f| %>
	  

		  <div class="field">
		    <%= f.label :body %>
		    <%= f.text_area :body %>
		  </div>

		  <div class="field">
		    
		    <%= f.hidden_field :chat_room_id, value: @chat_room.id %>
		  </div>

		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>

		
	</div>
	<hr>
	<div class="col-sm-7 messages">
		<%= render @chat_room.messages %>		
	</div>	
</div>

<%=  %>


