<center>
	<h2>Подтверждение пароля</h2>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :Почта %><br />
	    Ваша почта: <%= current_user.email %>
	    <% if current_user %>
	   	 <%= f.hidden_field :email, :value => current_user.email %>
	   <% else %>
	   	 <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
	   <% end %>
	  </div>
	  <p></p>
	  <div class="actions">
	    <%= f.submit "Отправить письмо" %>
	  </div>
	<% end %>
	<p></p>

	<%= render "devise/shared/links" %>
</center>