<center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="register_form">
    <div class="register_form_field">
      <label for="name"><%= t 'sign.name' %></label><br />
      <%= f.text_field :name %>
    </div>

    <div class="register_form_field">
      <label for="name">Фамилия</label><br />
      <%= f.text_field :surname %>
    </div>

    <div class="register_form_field">
      <label for="name">Skype</label><br />
      <%= f.text_field :skype %>
    </div>

    <div class="register_form_field">
      <label for="name">Номер телефона</label><br />
      <%= f.text_field :phone %>
    </div>

    <div class="register_form_field">
      <label for="name">Страна</label><br />
      <%= f.text_field :country %>
    </div>

    <div class="field">
      <div class="register_form_field">
      <label for="name"><%= t 'sign.email' %></label><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="register_form_field">
      <label for="name"><%= t 'sign.pass' %></label><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em>минимум <%= @minimum_password_length %> символов</em>
      <% end %>
    </div>

    <div class="register_form_field">
      <label for="name"><%= t 'sign.pass_c' %></label><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <div class="register_form_field">
      <label for="name"><%= t 'sign.pass_c' %></label><br /> <i>(Вам нужно подтвердить ваш текущий пароль для ваших изменений.)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <div class="register_form_submit">
        <%= f.submit "Обновка" %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "Back", :back %>

</center>