<link rel="stylesheet" href="/fonts/gothamPro/stylesheet.css">
   <div class="main_banner">
      <div class="box-width">
         <div class="main_banner_content_wrap">
            <h1 class="main_banner_title">
               <span><%= t 'homepage.play' %></span>
               <%= t 'homepage.king11' %>
            </h1>
            <div class="main_banner_content">
               <%= t 'homepage.desc' %>
               <span>
                  <%= t 'homepage.getinfo' %>
               </span>
            </div>
            <!-- <a href="#" class="main_banner_play_btn">Играть</a> -->
            <a href="<%= new_user_registration_path %>" class="main_banner_more_btn" style="color: #30ccf4; background-color: white; padding: 6px 44px; text-decoration: none;"><%= t 'homepage.playgame' %></a>
            <a href="#" class="main_banner_more_btn" style="color: white; background-color: rgba(255, 255, 255, 0.03); text-decoration: none;"><%= t 'homepage.button' %></a>
         </div>
         <div class="main_banner_arr_down"></div>
      </div>
   </div>
   <div class="promo_block">
      <div class="container">
         <h2 ><%= t 'homepage.info' %></h2>
         <p><%= t 'homepage.infodesc' %></p>
         <span style="display: block; margin: 50px auto 37px auto; width: 490px; border-radius: 100%; height: 490px; background: url('/images/main_banner_crop.jpg') no-repeat center; background-size: cover; "></span>
         <br>
         <span><%= t 'homepage.vibor' %></span>
         <a href="#next-block"><img src="/images/Layer-1.png" alt=""></a>
      </div>
   </div>
   <div class="gist_block" id="next-block">
      <div class="container">
         <h2><%= t 'homepage.sutigry' %></h2>
         <p style="padding-bottom: 25px;"><%= t 'homepage.sutigry1' %> </p>
         
         <p style="letter-spacing: 0.4px; padding-bottom: 26px;"><%= t 'homepage.sutigry2' %> </p>

         <p style="padding-bottom: 23px; letter-spacing: 0.5px;"><%= t 'homepage.sutigry3' %></p>

         <p style="letter-spacing: 0.5px; padding-bottom: 26px;"><%= t 'homepage.sutigry4' %></p>

         <p style="letter-spacing: 0.4px; padding-bottom: 27px;"><%= t 'homepage.sutigry5' %></p>
      </div>
   </div>
   <div class="container">
      <div class="start_price_block">
               <div class="start_price_extensions">
               <p></p>
                  <strong><%= t 'profile.dops' %></strong>
                  <div class="start_price_extensions_item radio">
                     <div class="icon"><%= t 'profile.radist' %></div>
                     <div class="start_price_extensions_item_price">
                        50 руб
                     </div>
                     <div class="start_price_extensions_item_check">
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Система уведомлений. Активирует систему оповещения о различных действиях на сайте и профиле пользователя
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item guide">
                     <div class="icon"><%= t 'profile.conductor' %></div>
                     <div class="start_price_extensions_item_price">
                        500 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Снижает цену уровня на 5%
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item porter">
                     <div class="icon"><%= t 'profile.carrier' %></div>
                     <div class="start_price_extensions_item_price">
                        200 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Снижает цену провианта на 15%
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item helicopter">
                     <div class="icon"><%= t 'profile.vert' %></div>
                     <div class="start_price_extensions_item_price">
                        2000 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Уменьшает штраф на вывод рабочего баланса с 50% на 30%
                           </span>
                        </i>
                     </div>
               </div>
            </div>
         </div>
      </div>
   <div class="compare_block">
      <div class="container">
         <h3><%= t 'homepage.text1' %> <br><%= t 'homepage.text2' %></h3>
         <p><%= t 'homepage.text3' %></p>
         <div class="col compare_block_no">
            <div class="compare_block_col_title"><%= t 'homepage.text4' %></div>
            <ul>
               <li><%= t 'homepage.roulette' %></li>
               <li><%= t 'homepage.roulette1' %></li>
               <li><%= t 'homepage.roulette2' %></li>
               <li><%= t 'homepage.roulette3' %></li>
               <li><%= t 'homepage.roulette4' %><li>
            </ul>
            <%= link_to I18n.t('homepage.text5'), service_path, data: { confirm: 'Вы уверены?' }, style: 'margin-top: 159px;' %>
         </div>
         <div class="col compare_block_yes">
            <div class="compare_block_col_title"><%= t 'homepage.king' %></div>
            <ul>
               <li><%= t 'homepage.king' %></li>
               <li><%= t 'homepage.king1' %></li>
               <li><%= t 'homepage.king2' %></li>
               <li><%= t 'homepage.king3' %></li>
               <li><%= t 'homepage.king4' %></li>
            </ul>
            <a href="<%= new_user_registration_path %>"><%= t 'homepage.king5' %></a>
         </div>
      </div>
   </div>
   <div class="game_advantages">
      <div class="container">
         <h2 class="top_block_title" style="color: #2fcaf1;"><%= t 'homepage.priem' %></h2>
      </div>
   </div>
   <div class="container">
      <div class="pluses_block">
         <div class="pluses_block_item">
            <span>1</span>
            <img src="/images/free1.png" alt="Free">
            <h5><%= t 'homepage.priem1' %></h5>
            <p><%= t 'homepage.priem2' %></p>
         </div>
         <div class="pluses_block_item" style="margin-top: 0px;">
            <span>2</span>
            <img src="/images/fast1.png" alt="Fast">
            <h5><%= t 'homepage.priem3' %></h5>
            <p><%= t 'homepage.priem4' %></p>
         </div>
         <div class="pluses_block_item">
            <span>3</span>
            <img src="/images/reliably1.png" alt="Reliably">
            <h5><%= t 'homepage.priem5' %></h5>
            <p><%= t 'homepage.priem6' %></p>
         </div>
      </div>
   </div>
     <div class="top_block">
      <div class="container">
         <h2 class="top_block_title"><%= t 'homepage.top10' %></h2>
         <div class="top_block_items">
            <div class="top_block_item">
               <b>1</b>
                  <% user_first = User.order("balance DESC")[0] %>
                  <% ava = user_first.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62", style: 'border-radius: 34px;'%>
               <% end %>
               <span>
                  <%= user_first.name %> <br>
                  <%= user_first.level %> уровень <br>
                  <%= user_first.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>2</b>
               <% user_second = User.order("balance DESC")[1] %>
                  <% ava = user_second.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62", style: 'border-radius: 34px;' %>
               <% end %>
               <span>
                  <%= user_second.name %> <br>
                  <%= user_second.level %> уровень <br>
                  <%= user_second.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>3</b>
               <% user_third = User.order("balance DESC")[2] %>
                  <% ava = user_third.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62", style: 'border-radius: 34px;' %>
               <% end %>
               <span>
                  <%= user_third.name %> <br>
                  <%= user_third.level %> уровень <br>
                  <%= user_third.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>4</b>
               <% user_fourth = User.order("balance DESC")[3] %>
                  <% ava = user_fourth.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62" , style: 'border-radius: 34px;'%>
               <% end %>
               <span>
                  <%= user_fourth.name %> <br>
                  <%= user_fourth.level %> уровень <br>
                  <%= user_fourth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>5</b>
               <% user_fifth = User.order("balance DESC")[4] %>
                  <% ava = user_fifth.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62", style: 'border-radius: 34px;' %>
               <% end %>
               <span>
                  <%= user_fifth.name %> <br>
                  <%= user_fifth.level %> уровень <br>
                  <%= user_fifth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>6</b>
               <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% user_sixth = User.order("balance DESC")[5] %>
               <span>
                  <%= user_sixth.name %> <br>
                  <%= user_sixth.level %> уровень <br>
                  <%= user_sixth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>7</b>
               <% user_seventh = User.order("balance DESC")[6] %>
                  <% ava = user_seventh.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62", style: 'border-radius: 34px;' %>
               <% end %>
               <span>
                  <%= user_seventh.name %> <br>
                  <%= user_seventh.level %> уровень <br>
                  <%= user_seventh.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>8</b>
               <% user_eighth = User.order("balance DESC")[7] %>
                  <% ava = user_eighth.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62", style: 'border-radius: 34px;' %>
               <% end %>
               <span>
                  <%= user_eighth.name %> <br>
                  <%= user_eighth.level %> уровень <br>
                  <%= user_eighth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>9</b>
               <% user_nine = User.order("balance DESC")[8] %>
                  <% ava = user_nine.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62", style: 'border-radius: 34px;' %>
               <% end %>
               <span>
                  <%= user_nine.name %> <br>
                  <%= user_nine.level %> уровень <br>
                  <%= user_nine.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>10</b>
               <% user_ten = User.order("balance DESC")[9] %>
                  <% ava = user_ten.avatars.last %>
               <% if ava.nil? %>
                <img src="/images/top-photo.png" height="62" width="62" alt="">
               <% else %>
                <%= image_tag ava.image.url(:medium), height: "62", width: "62", style: 'border-radius: 34px;' %>
               <% end %>
               <span>
                  <%= user_ten.name %> <br>
                  <%= user_ten.level %> уровень <br>
                  <%= user_ten.balance %> руб.
               </span>
            </div>
         </div>
      </div>
   </div>
      <div class="stats_block">
      <div class="container">
         <div class="stats_block_item users">
            <div class="stats_block_quantity">
               <%= User.all.count %>
               <span><%= t 'profile.users' %></span>
            </div>
            <b class="stats_block_today">
               +<%= User.where("created_at >= ?", Time.zone.now.beginning_of_day).size %> <%= t 'profile.today' %>
            </b>
         </div>
         <div class="stats_block_item online">
            <div class="stats_block_quantity">
               <% getbalance = Getbalance.sum("total") %>
               <% getmoney = Getmoney.sum("total") %>
               <% obsh = getbalance + getmoney %>
               <%= obsh %> руб.
               <span><%= t 'profile.getmoneys' %></span>
            </div>
         </div>
         <div class="stats_block_item tasks">
            <div class="stats_block_quantity">
               <%= User.online.count %>
               <span><%= t 'profile.online_users' %></span>
            </div>
         </div>
         <div class="stats_block_item compl">
            <div class="stats_block_quantity">
              <span>игра идет уже:</span>
              <div id="countdown"></div>
              <span></span>

            </div>
         </div>
      </div>
   </div>
<script>
    var start = new Date('06/28/2017 10:1 AM');

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
        var now = new Date();
        var distance = start - now;
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);
        days = days.toString().replace(/^-+/i, '');
        hours = hours.toString().replace(/^-+/i, '');
        minutes = minutes.toString().replace(/^-+/i, '');
        seconds = seconds.toString().replace(/^-+/i, '');
        if(seconds.length == 1){
            seconds = '0' + seconds;
        }

        document.getElementById('countdown').innerHTML = days + '*';
        document.getElementById('countdown').innerHTML += hours + '*';
        document.getElementById('countdown').innerHTML += minutes + '*';
        document.getElementById('countdown').innerHTML += seconds;
    }

    timer = setInterval(showRemaining, 1000);
</script>
   <div class="doubt_block">
      <div class="container">
         <h2 class="top_block_title" style="color: #2fcaf1;"><%= t 'profile.somn' %></h2>
         <p><%= t 'profile.somn1' %></p>
         <p><%= t 'profile.somn2' %></p>
         <p><%= t 'profile.somn3' %></p>
         <p><%= t 'profile.somn4' %></p>
      </div>
   </div>
  
   <%= render '/feedbacks/form' %>

   <div class="footer">
      <div class="container">
        <span class="arrow_up">⌃</span>
         <div class="footer_title"><%= t 'profile.me' %></div>
         <div class="footer_social">
            <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=https://king-mountain.pro/&st.comments=ЦарьГоры" target="_blank" class="footer_social_item"><img src="/images/ic-ok.png" height="39" width="39" alt="OK"></a>
            <a href="https://www.facebook.com/sharer.php?u=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="/images/ic-fb.png" height="26" width="12" alt="Facebook"></a>
            <a href="https://vk.com/share.php?url=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="/images/ic-vk.png" height="18" width="30" alt="VK"></a>
            <a href="https://twitter.com/share?url=https://king-mountain.pro/&text=Царь Горы" target="_blank" class="footer_social_item"><img src="/images/ic-tw.png" height="20" width="24" alt="Twitter"></a>
         </div>
         <div class="footer_logo">
            <img src="/images/footer_logo.png" height="45" width="109" alt="Царь горы">
         </div>
         <div class="footer_copyright">
            ООО Игра - “Царь горы” 2017 Все права защищены.
         </div>
        <a href="//www.free-kassa.ru/"><img src="//www.free-kassa.ru/img/fk_btn/17.png"></a>
      </div>
   </div>

