<script type="text/javascript">
   function sum100() {
      // var a = document.getElementById("sum").value;
      var b = document.getElementById("food_counter").value 
      document.getElementById("sum").innerHTML = 100
      document.getElementById("sum").innerHTML = 100 + (b * 100);
   }

   function sum200() {
      var a = document.getElementById("food_counter").value
      var d = document.getElementById("sum").innerHTML;
      document.getElementById("sum").innerHTML = d - 100;
   }
</script>
 

<link rel="stylesheet" href="fonts/gothamPro/stylesheet.css">
   <div class="main_banner">
      <% if flash[:feedback] %>
         <div class="alert alert-success" role="alert">
           <center><%= flash[:feedback] %></center>
         </div>
      <% end %>
      <div class="container">
         <h1 class="main_banner_title">
            <span>Игра -</span>
            Царь горы
         </h1>
         <div class="main_banner_arr_down"></div>
      </div>
   </div>
   <div class="container">
      <div class="start_block">
         <p>Всего за <span>25 рублей</span> и они твои!</p>
         <strong>50.000 рублей</strong>
      </div>
      <div class="start_price">
         <h2 class="start_price_title">
            Стоимость старта <span>25 рублей</span>
         </h2>
         <form action="#">
            <div class="start_price_block">
               <div class="start_price_extensions">
                  <strong>Дополнения</strong>
                  <div class="start_price_extensions_item radio">
                     <div class="icon">Радист</div>
                     <div class="start_price_extensions_item_price">
                        50 руб
                     </div>
                     <div class="start_price_extensions_item_check">
                        <a>
                        <% if user_signed_in? %>
                             <% unless current_user.radist == true %>
                                 <%= form_for current_user, :url => buyradist_path(current_user), method: :put  do |f| %>
                                    <%= f.submit "Купить", class: 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
                                 <% end %>
                              <% else %>
                                 У вас уже есть это улучшение
                              <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        </a>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item guide">
                     <div class="icon">Проводник</div>
                     <div class="start_price_extensions_item_price">
                        150 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <% if user_signed_in? %>
                         <% unless current_user.conductor == true %>
                           <%= form_for current_user, :url => improves_path(current_user), method: :post  do |f| %>
                              <%= f.submit 'Купить', :class => 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 150₽? ' } %>
                           <% end %>
                         <% else %>
                           <a>У вас уже есть это улучшение</a>
                         <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item porter">
                     <div class="icon">Носильщик</div>
                     <div class="start_price_extensions_item_price">
                        100 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <% if user_signed_in? %>
                         <% unless current_user.carrier == true %>
                           <%= form_for current_user, :url => improfe_path(current_user), method: :put  do |f| %>
                                 <%= f.submit "Купить", :class => 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
                           <% end %>
                         <% else %>
                           <a>У вас уже есть это улучшение</a>
                         <% end %>   
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item helicopter">
                     <div class="icon">Эвакуационный вертолёт</div>
                     <div class="start_price_extensions_item_price">
                        200 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <a >
                        <% if user_signed_in? %>
                         <% unless current_user.aerodrome == true %>
                           <%= form_for current_user, :url => buyaerodrome_path(current_user), method: :put  do |f| %>
                              <%= f.submit "Купить", class: "start_price_btn", data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
                           <% end %>
                         <% else %>
                           У вас уже есть это улучшение
                         <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        </a>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item all">
                     <div class="icon">Купить все улучшения</div>
                     <div class="start_price_extensions_item_price">
                        500 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <a >
                        <% if user_signed_in? %>
                         <% unless current_user.radist == true || current_user.carrier == true || current_user.conductor == true || current_user.aerodrome == true %>
                           <%= form_for current_user, :url => buyall_path(current_user), method: :post  do |f| %>
                              <%= f.submit 'Купить', class: "start_price_btn", data: { confirm: 'Вы уверены cтоимость 250₽? ' } %>
                           <% end %>
                         <% else %>
                           У вас уже есть это улучшение
                         <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        </a>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
               </div>
            </div>
            <% if user_signed_in? %>
            <div class="start_price_quantity">
               <div class="left_side">
                  <h3>Купить провианта</h3>
                  <em>Провиант помогает быстрее добраться к вершине!</em>
                  <p></p>
                     <em>Свободных провиантов <b><%= User.where("level = 1 AND reffered_by = 0 AND created_at > ?", current_user.created_at).count %></b></em>
               </div>
               <!-- <div class="right_side">
                  <div class="start_price_quantity_counter">
                     <b class="price_count_left" onclick="sum200()">‹</b>
                     <input type="text" value="1" id="food_counter">
                     <b class="price_count_right" onclick="sum100()">›</b>
                  </div>
               </div> -->
            </div>
            <% calc =  User.where("level = 1 AND reffered_by = 0 AND created_at > ?", current_user.created_at).count %>
            <% calc_summ = calc * 100 %>
            <div class="start_price_total">
               <div class="left_side">
                  <h4>Сумма за всех свободных провиантов:</h4>
               </div>
               <div class="right_side">
                  <b class="start_price_total_price" id="sum">
                     
                     <%= calc_summ %>
                  </b>
               </div>
            </div>
               <% end %>
            <div class="start_block_submit">
              <% if user_signed_in? %>
               <a href="<%= new_user_registration_path %>" class="start_block_submit_btn">Купить свободных провиантов</a>
              <% else %>
               <a href="<%= new_user_registration_path %>" class="start_block_submit_btn">Старт</a>
              <% end %>
               <span>
                  или <br>
                  <a href="<%= new_user_registration_path %>">Зарегестрируйтесь</a>
               </span>
            </div>
         </form>
      </div>
   </div>
  <div class="partner_block_wrap">  
      <div class="partner_block">
         <div class="rotate_left">
            <div class="partner_block_inner">
               <div class="partner_discount">
                  5%
                  <span>
                     с каждой покупки <br>
                     реферала
                  </span>
               </div>
            </div>
         </div>
         <div class="rotate_right">
            <div class="partner_block_inner">
               <h5>Как партнёр</h5>
               <p>Зарегестрируйтесь сегодня и получите 25 баллов в подарок!</p>
               <p>Всё что нужно сделать - зарегестрироваться на сайте через социальные сети или с помощью рабочего email адреса  и подтвердить его, пройдя по ссылке в письме.</p>
               <p>Бонусные баллы после выполнения первых 50 заданий.</p>
            </div>
         </div>
      </div>
   </div>
      <div class="container">
      <div class="pluses_block">
         <div class="pluses_block_item">
            <span>1</span>
            <img src="<%= image_url('free.png') %>" height="156" width="155" alt="Free">
            <h5>Бесплатно</h5>
         </div>
         <div class="pluses_block_item">
            <span>2</span>
            <img src="<%= image_url('fast.png') %>" height="157" width="155" alt="Fast">
            <h5>Быстро</h5>
         </div>
         <div class="pluses_block_item">
            <span>3</span>
            <img src="<%= image_url('reliably.png') %>" height="156" width="155" alt="Reliably">
            <h5>Качественно</h5>
         </div>
      </div>
   </div>
   <div class="partner_block_wrap"> 
      <div class="partner_block">
         <div class="rotate_left">
            <div class="partner_block_inner">
               <div class="partner_discount">
                  <img src="<%= image_url('friends.png') %>" height="283" width="248" alt="Friends">
               </div>
            </div>
         </div>
         <div class="rotate_right">
            <div class="partner_block_inner">
               <h5>Активность</h5>
               <p>Вам совершенно ничего не надо делать, игра подберёт для вас людей в уровень и вы получаете свой заработок!</p>
               <p>Но чем вы активней, тем больше ваш шанс получить главный приз</p>
            </div>
         </div>
      </div>
   </div>
      <div class="top_block">
      <div class="container">
         <h2 class="top_block_title">Топ-10 партнеров</h2>
         <div class="top_block_items">
            <div class="top_block_item">
               <b>1</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <span>
                  <% user_first = User.order("level DESC").first %>
                  <%= user_first.name %> <br>
                  <%= user_first.refferences.count %> рефералов <br>
                  <%= user_first.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>2</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_second = User.order("level DESC").second %>
               <span>
                  <%= user_second.name %> <br>
                  <%= user_second.refferences.count %> рефералов <br>
                  <%= user_second.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>3</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_third = User.order("level DESC").third %>
               <span>
                  <%= user_third.name %> <br>
                  <%= user_third.refferences.count %> рефералов <br>
                  <%= user_third.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>4</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_fourth = User.order("level DESC").fourth %>
               <span>
                  <%= user_fourth.name %> <br>
                  <%= user_fourth.refferences.count %> рефералов <br>
                  <%= user_fourth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>5</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_fifth = User.order("level DESC").fifth %>
               <span>
                  <%= user_fifth.name %> <br>
                  <%= user_fifth.refferences.count %> рефералов <br>
                  <%= user_fifth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>6</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_sixth = User.order("level DESC")[6] %>
               <span>
                  <%= user_sixth.name %> <br>
                  <%= user_sixth.refferences.count %> рефералов <br>
                  <%= user_sixth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>7</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_seventh = User.order("level DESC")[7] %>
               <span>
                  <%= user_seventh.name %> <br>
                  <%= user_seventh.refferences.count %> рефералов <br>
                  <%= user_seventh.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>8</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_eighth = User.order("level DESC")[8] %>
               <span>
                  <%= user_eighth.name %> <br>
                  <%= user_eighth.refferences.count %> рефералов <br>
                  <%= user_eighth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>9</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_nine = User.order("level DESC")[9] %>
               <span>
                  <%= user_nine.name %> <br>
                  <%= user_nine.refferences.count %> рефералов <br>
                  <%= user_nine.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>10</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_ten = User.order("level DESC")[10] %>
               <span>
                  <%= user_ten.name %> <br>
                  <%= user_ten.refferences.count %> рефералов <br>
                  <%= user_ten.balance %> руб.
               </span>
            </div>
         </div>
      </div>
   </div>
   <div class="stats_block">
      <div class="container">
         <div class="stats_block_item users">
            <div class="stats_block_quantity">
               <%= User.all.count %>
               <span>Пользователей</span>
            </div>
            <b class="stats_block_today">
               +<%= User.where("created_at >= ?", Time.zone.now.beginning_of_day).size %> сегодня
            </b>
         </div>
         <div class="stats_block_item online">
            <div class="stats_block_quantity">
               <% getbalance = Getbalance.sum("total") %>
               <% getmoney = Getmoney.sum("total") %>
               <% obsh = getbalance + getmoney %>
               <%= obsh %>
               <span>Вывели денег</span>
            </div>
         </div>
         <div class="stats_block_item tasks">
            <div class="stats_block_quantity">
               <%= User.where(level: 9).count %>
               <span>пользователей близки к победе</span>
            </div>
         </div>
         <div class="stats_block_item compl">
            <div class="stats_block_quantity">
               50.000 руб
               <span>Общий банк</span>
            </div>
         </div>
      </div>
   </div>
   

   <%= render '/feedbacks/form' %>



   <div class="footer">
      <div class="container">
         <span class="arrow_up">⌃</span>
         <div class="footer_title">Нравится наш сервис? Поделитесь в социальных сетях:</div>
         <div class="footer_social">
            <a href="https://vk.com/kingmountain" class="footer_social_item"><img src="images/ic-ok.png" height="39" width="39" alt="OK"></a>
            <a href="https://www.facebook.com/KingofMontain/?ref=bookmarks" class="footer_social_item"><img src="images/ic-fb.png" height="26" width="12" alt="Facebook"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-inst.png" height="24" width="24" alt="Instagram"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-vk.png" height="18" width="30" alt="VK"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-tw.png" height="20" width="24" alt="Twitter"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-telegram.png" height="22" width="23" alt="Telegram"></a>
         </div>
         <div class="footer_logo">
            <img src="images/footer_logo.png" height="45" width="109" alt="Царь горы">
         </div>
         <div class="footer_copyright">
            ООО Игра - “Царь горы” 2017 Все права защищены.
         </div>
      </div>
   </div>