<link rel="stylesheet" href="fonts/gothamPro/stylesheet.css">
   <div class="main_banner">
      <div class="container">
         <h1 class="main_banner_title">
            <span>Игра -</span>
            Царь горы
         </h1>
         <div class="main_banner_arr_down"></div>
      </div>
   </div>
   <div class="container">
      <div class="start_block">
         <p>Всего за <span>25 рублей</span> и они твои!</p>
         <strong><%= Transfer.sum(:summa) %> рублей</strong>
      </div>
      <div class="start_price">
         <h2 class="start_price_title">
            Стоимость старта <span>25 рублей</span>
         </h2>
         <form action="#">
            <div class="start_price_block">
               <div class="start_price_extensions">
                  <strong>Дополнения</strong>
                  <div class="start_price_extensions_item radio">
                     <div class="icon">Радист</div>
                     <div class="start_price_extensions_item_price">
                        50 руб
                     </div>
                     <div class="start_price_extensions_item_check">
                        <a>
                        <% if user_signed_in? %>
                           <%= form_for current_user, :url => buyradist_path(current_user), method: :put  do |f| %>
                              <%= f.submit "Купить", class: 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
                           <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        </a>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item guide">
                     <div class="icon">Проводник</div>
                     <div class="start_price_extensions_item_price">
                        150 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <% if user_signed_in? %>
                           <%= form_for current_user, :url => improves_path(current_user), method: :post  do |f| %>
                              <%= f.submit 'Купить', :class => 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 150₽? ' } %>
                           <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item porter">
                     <div class="icon">Носильщик</div>
                     <div class="start_price_extensions_item_price">
                        100 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <% if user_signed_in? %>
                           <%= form_for current_user, :url => improfe_path(current_user), method: :put  do |f| %>
                                 <%= f.submit "Купить", :class => 'start_price_btn', data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
                           <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item helicopter">
                     <div class="icon">Эвакуационный вертолёт</div>
                     <div class="start_price_extensions_item_price">
                        200 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <a >
                        <% if user_signed_in? %>
                           <%= form_for current_user, :url => buyaerodrome_path(current_user), method: :put  do |f| %>
                              <%= f.submit "Купить", class: "start_price_btn", data: { confirm: 'Вы уверены cтоимость 100₽? ' } %>
                           <% end %>
                        <% else %>
                           <%= link_to 'Купить', new_user_registration_path, class: 'start_price_btn' %>
                        <% end %>
                        </a>
                        <i class="start_price_extensions_item_help">
                           ?
                           <span class="tooltip">
                              Здесь текст о том что быпояснить зарегестрированному лицу как это работает
                           </span>
                        </i>
                     </div>
                  </div>
               </div>
            </div>
            <div class="start_price_quantity">
               <div class="left_side">
                  <h3>Количество провианта</h3>
                  <em>Провиант помогает быстрее добраться к вершине!</em>
               </div>
               <div class="right_side">
                  <div class="start_price_quantity_counter">
                     <b class="price_count_left">‹</b>
                     <input type="text" value="1" id="food_counter">
                     <b class="price_count_right">›</b>
                  </div>
               </div>
            </div>
            <div class="start_price_total">
               <div class="left_side">
                  <h4>Сумма к оплате:</h4>
               </div>
               <div class="right_side">
                  <b class="start_price_total_price">
                     100 рублей
                  </b>
               </div>
            </div>
            <div class="start_block_submit">
               <a href="<%= new_user_registration_path %>" class="start_block_submit_btn">Старт</a>
               <span>
                  или <br>
                  <a href="<%= new_user_registration_path %>">Зарегестрируйтесь</a>
               </span>
            </div>
         </form>
      </div>
   </div>
  <div class="partner_block_wrap">  
      <div class="partner_block">
         <div class="rotate_left">
            <div class="partner_block_inner">
               <div class="partner_discount">
                  5%
                  <span>
                     с каждой покупки <br>
                     реферала
                  </span>
               </div>
            </div>
         </div>
         <div class="rotate_right">
            <div class="partner_block_inner">
               <h5>Как партнёр</h5>
               <p>Зарегестрируйтесь сегодня и получите 25 баллов в подарок!</p>
               <p>Всё что нужно сделать - зарегестрироваться на сайте через социальные сети или с помощью рабочего email адреса  и подтвердить его, пройдя по ссылке в письме.</p>
               <p>Бонусные баллы после выполнения первых 50 заданий.</p>
            </div>
         </div>
      </div>
   </div>
      <div class="container">
      <div class="pluses_block">
         <div class="pluses_block_item">
            <span>1</span>
            <img src="<%= image_url('free.png') %>" height="156" width="155" alt="Free">
            <h5>Бесплатно</h5>
         </div>
         <div class="pluses_block_item">
            <span>2</span>
            <img src="<%= image_url('fast.png') %>" height="157" width="155" alt="Fast">
            <h5>Быстро</h5>
         </div>
         <div class="pluses_block_item">
            <span>3</span>
            <img src="<%= image_url('reliably.png') %>" height="156" width="155" alt="Reliably">
            <h5>Качественно</h5>
         </div>
      </div>
   </div>
   <div class="partner_block_wrap"> 
      <div class="partner_block">
         <div class="rotate_left">
            <div class="partner_block_inner">
               <div class="partner_discount">
                  <img src="<%= image_url('friends.png') %>" height="283" width="248" alt="Friends">
               </div>
            </div>
         </div>
         <div class="rotate_right">
            <div class="partner_block_inner">
               <h5>Активность</h5>
               <p>Вам совершенно ничего не надо делать, игра подберёт для вас людей в уровень и вы получаете свой заработок!</p>
               <p>Но чем вы активней, тем больше ваш шанс получить главный приз</p>
            </div>
         </div>
      </div>
   </div>
      <div class="top_block">
      <div class="container">
         <h2 class="top_block_title">Топ-10 партнеров</h2>
         <div class="top_block_items">
            <div class="top_block_item">
               <b>1</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <span>
                  <% user_first = User.order("level DESC").first %>
                  <%= user_first.name %> <br>
                  <%= user_first.refferences.count %> рефералов <br>
                  <%= user_first.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>2</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_second = User.order("level DESC").second %>
               <span>
                  <%= user_second.name %> <br>
                  <%= user_second.refferences.count %> рефералов <br>
                  <%= user_second.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>3</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_third = User.order("level DESC").third %>
               <span>
                  <%= user_third.name %> <br>
                  <%= user_third.refferences.count %> рефералов <br>
                  <%= user_third.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>4</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_fourth = User.order("level DESC").fourth %>
               <span>
                  <%= user_fourth.name %> <br>
                  <%= user_fourth.refferences.count %> рефералов <br>
                  <%= user_fourth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>5</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_fifth = User.order("level DESC").fifth %>
               <span>
                  <%= user_fifth.name %> <br>
                  <%= user_fifth.refferences.count %> рефералов <br>
                  <%= user_fifth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>6</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_sixth = User.order("level DESC")[6] %>
               <span>
                  <%= user_sixth.name %> <br>
                  <%= user_sixth.refferences.count %> рефералов <br>
                  <%= user_sixth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>7</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_seventh = User.order("level DESC")[7] %>
               <span>
                  <%= user_seventh.name %> <br>
                  <%= user_seventh.refferences.count %> рефералов <br>
                  <%= user_seventh.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>8</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_eighth = User.order("level DESC")[8] %>
               <span>
                  <%= user_eighth.name %> <br>
                  <%= user_eighth.refferences.count %> рефералов <br>
                  <%= user_eighth.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>9</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_nine = User.order("level DESC")[9] %>
               <span>
                  <%= user_nine.name %> <br>
                  <%= user_nine.refferences.count %> рефералов <br>
                  <%= user_nine.balance %> руб.
               </span>
            </div>
            <div class="top_block_item">
               <b>10</b>
               <img src="images/top-photo.png" height="62" width="62" alt="">
               <% user_ten = User.order("level DESC")[10] %>
               <span>
                  <%= user_ten.name %> <br>
                  <%= user_ten.refferences.count %> рефералов <br>
                  <%= user_ten.balance %> руб.
               </span>
            </div>
         </div>
      </div>
   </div>
   <div class="stats_block">
      <div class="container">
         <div class="stats_block_item users">
            <div class="stats_block_quantity">
               <%= User.all.count %>
               <span>Пользователей</span>
            </div>
            <b class="stats_block_today">
               +<%= User.where("created_at >= ?", Time.zone.now.beginning_of_day).size %> сегодня
            </b>
         </div>
         <div class="stats_block_item online">
            <div class="stats_block_quantity">
               <%= User.where('last_seen > ?', 5.minutes.ago).count %>
               <span>Онлайн</span>
            </div>
         </div>
         <div class="stats_block_item tasks">
            <div class="stats_block_quantity">
               280 522
               <span>пользователей близки к победе</span>
            </div>
         </div>
         <div class="stats_block_item compl">
            <div class="stats_block_quantity">
               <%= Transfer.sum(:summa) %> руб
               <span>Общий банк</span>
            </div>
         </div>
      </div>
   </div>
   <div class="contact_block">
      <div class="container">
         <div class="contact_block_inner">
            <h2 class="contact_block_title">Связаться с нами</h2>
            <form action="">
               <div class="contact_block_form_field">
                  <input type="text" name="" id="" placeholder="Ваше имя">
               </div>
               <div class="contact_block_form_field">
                  <input type="email" name="" id="" placeholder="Ваш электронный адрес">
               </div>
               <div class="contact_block_form_field contact_block_form_field_comment">
                  <textarea placeholder="Комментарий"></textarea>
               </div>
               <div class="contact_block_form_submit">
                  <input type="submit" value="Отправить">
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="footer">
      <div class="container">
         <span class="arrow_up">⌃</span>
         <div class="footer_title">Нравится наш сервис? Поделитесь в социальных сетях:</div>
         <div class="footer_social">
            <a href="#" class="footer_social_item"><img src="images/ic-ok.png" height="39" width="39" alt="OK"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-fb.png" height="26" width="12" alt="Facebook"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-inst.png" height="24" width="24" alt="Instagram"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-vk.png" height="18" width="30" alt="VK"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-tw.png" height="20" width="24" alt="Twitter"></a>
            <a href="#" class="footer_social_item"><img src="images/ic-telegram.png" height="22" width="23" alt="Telegram"></a>
         </div>
         <div class="footer_logo">
            <img src="images/footer_logo.png" height="45" width="109" alt="Царь горы">
         </div>
         <div class="footer_copyright">
            ООО Игра - “Царь горы” 2017 Все права защищены.
         </div>
      </div>
   </div>