<li class='list-group-item'>
  <p style="font-size: 10px">
    <% ava = common_chat_message.user.avatars.last %>
    <% if ava.nil? %>
        <span class="image"><img src="images/img.jpg" alt="Profile Image" width="40" /></span>
    <% else %>
        <span class="image">
          <img src="<%= image_path ava.image.url(:thumb) %>" width="40" alt="Profile Image">
        </span>
    <% end %>
    <%= common_chat_message.user.name %>
    <%= common_chat_message.created_at.strftime('%d/%m/%Y %H:%M') %> :
    <%= link_to 'Написать напрямую',
                chat_rooms_path(:other_user => common_chat_message.user.id),
                method: :post %>
  </p>
  <br>
  <strong>
    <%= common_chat_message.content %>
  </strong>
</li>