<div class="single_dialog">
  <div class="dialog_ico">

    <% ava = common_chat_message.user.avatars.last %>
    <% if ava.nil? %>
        <img src="images/img.jpg" alt="Profile Image" width="60" />
    <% else %>
        <img src="<%= image_path ava.image.url(:thumb) %>" width="60" alt="Profile Image">
    <% end %>

    <span class="name_dialog"><%= common_chat_message.user.name %></span> в
    <span class="last_message"><%= common_chat_message.created_at.strftime('%d/%m/%Y %H:%M') %></span>
    написал:
  </div>
  <div class="single_dialog_info">
    <%= link_to 'личное сообщение',
                chat_rooms_path(:other_user => common_chat_message.user.id),
                method: :post,
                class: 'btn btn-default btn-xs'
    %>
    <p class="last_message"><strong>
      <%= common_chat_message.content %>
    </strong></p>

  </div>
</div>