
<form method="post" action="https://payeer.com/merchant/">
	<input type="hidden" name="m_shop" value="<%= ENV['ID_MERCHANT'] %>">
	<input type="hidden" name="m_orderid" value="<%= @payeer.id %>">
	<input type="hidden" name="m_amount" value="100.00">
	<input type="hidden" name="m_curr" value="RUB">
	<input type="hidden" name="m_desc" value="Text">
	<input type="hidden" name="m_sign" value="<%= @sign %>">

	<input type="hidden" name="form[ps]" value="<%= ENV['FORPS'] %>">
	<input type="hidden" name="form[curr[2609]]" value="<%= @payeer.currency %>">

	<input type="submit" name="m_process" value="send" />
</form>

