<% 
	require 'digest'
    require 'openssl'
    require 'json'
    require 'base64'
    require 'open-uri'
    @payeer = Payeer.new

    m_shop    = ENV['ID_MERCHANT']
    m_orderid = @payeer.id
    m_amount  = @payeer.total.to_f
    m_cur     = 'RUB'
    m_desc    = @payeer.description

    arr_hash = [m_shop, m_orderid, m_amount, m_cur, m_desc]

    arr_params = {
      success_url: 'https://domain.com/new_success_url',
      fail_url:    'https://domain.com/new_fail_url',
      status_url:  'https://domain.com/new_status_url'
    }

    # Твой ключ для шифрования дополнительных параметров.
    key_encrypt_parametres = 'vksruu0m5qf49bqs'

    key = Digest::MD5.hexdigest("#{key_encrypt_parametres}#{m_orderid}")

    cipher = OpenSSL::Cipher.new('AES-256-CBC')
    cipher.encrypt
    cipher.key = key
    # Шифруем доп. параметры
    encrypted = URI::encode(Base64.encode64((cipher.update(arr_params.to_json) + cipher.final)))

    # Добавляем параметры в массив для формирования подписи
    arr_hash << encrypted
    # Добавляем в массив для формирования подписи секретный ключ
    arr_hash << key
    # Формируем подпись
    @sign = Digest::SHA256.digest(arr_hash.join(':')).upcase!
%>

<%= @sign %>
<form method="post" action="https://payeer.com/merchant/">
	<input type="hidden" name="m_shop" value="<%= ENV['ID_MERCHANT'] %>">
	<input type="hidden" name="m_orderid" value="<%= @payeer.id %>">
	<input type="hidden" name="m_amount" value="<%= @payeer.total %>">
	<input type="hidden" name="m_curr" value="RUB">
	<input type="hidden" name="m_desc" value="<%= @payeer.description %>">
	<input type="hidden" name="m_sign" value="<%= @sign %>">

	<input type="submit" name="m_process" value="send" />
</form>

