<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">

      <% ava = current_user.avatars.last %>
      <% if ava.nil? %>
          <%= image_tag('img.jpg', class: 'img-circle profile_img') %>
      <% else %>
          <img src="<%= image_path ava.image.url() %>" alt="Profile Image" class="img-circle profile_img">
      <% end %>


    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> <%= current_user.name %></h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>Панель управления</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Главная <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= root_path %>">Главная</a></li>
              <li><a href="<%= new_order_path %>">Пополнить</a></li>
              <li><a href="<%= mobline_path %>">Профиль</a></li>
              <li><a href="<%= chats_path %>">Общий чат</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-edit"></i> Тарифные планы <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= partner_path %>">Моблан 50</a></li>
              <li><a href="<%= partner_path %>">Элбрус 500</a></li>
              <li><a href="<%= partner_path %>">Килиманджаро 2500</a></li>
              <li><a href="<%= partner_path %>">Эверест 5000</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-desktop"></i> Рефералы <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= faq_path %>">Друзья</a></li>
              <li><a href="<%= faq_path %>">Частые вопросы</a></li>
              <li><a href="<%= contact_path %>">Поддержка</a></li>
              <li><a href="<%= partner_path %>">Контакты</a></li>
            </ul>
        </ul>
      </div>
    </div>
    <!-- <div class="menu_section">
      <h3>Live On</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="e_commerce.html">E-commerce</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="project_detail.html">Project Detail</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
        </li>
      </ul>
    </div> -->

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>