<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">

      <%= render 'shared/left_bar' %>
    </div>

    <!-- top navigation -->
    <%= render 'shared/top_nav' %>

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Общий чат</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
              </div>



            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Сообщения</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-4 col-sm-4 col-xs-1 left_dialogs">



                  <div class="make_message">
                    <!-- немного поправь стили в chat-style.css если будут перебиваться -->
                    <hr style="height: 1px; position: absolute; bottom: 50px; left: 0; right: 0;">



                    <%= form_for CommonChatMessage.new, remote: true do |f| %>

                        <%= f.text_area :content, rows: 6, placeholder: 'Написать сообщение' %>
                        <%= f.button '', class: 'fa fa-paper-plane' %>


                    <% end %>


                    <style>
                      .make_message {
                        margin-left: 15px;
                      }
                      .make_message textarea{
                        background-color: #e1edf7;
                        border-radius: 10px 10px 10px 10px;
                        border: none;
                        outline: none;
                        width: 85% !important;
                      }
                      .make_message button{
                        position: absolute;
                        right: 15px;
                        bottom: 0;
                        background-color: #fff;
                        border: none;
                        outline: none;
                        font-size: 20px;
                      }
                    </style>
                  </div>
                </div>

                <div id="common_messages" class="col-md-8 col-sm-8 col-xs-11 open_dialog">
                  <%= render @common_chat_messages %>
                </div>
                <%= will_paginate @common_chat_messages %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>



<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        if ($('.pagination').length) {

            $(window).scroll(function() {
                var url = $('.pagination .next_page').attr('href');
                if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
                    $('.pagination').text("Загружается...");
                    return $.getScript(url);
                }
            });
            return $(window).scroll();

        }
    });
</script>