<hr>
<center>
	<form name="payment" method="post" action="https://sci.interkassa.com/" accept-charset="UTF-8">
	  <input type="hidden" name="ik_co_id" value="<%= ENV['IK_CO_ID'] %>" />
	  <input type="hidden" name="ik_pm_no" value="<%= @order.id %>" />
	  <input type="hidden" name="ik_am"    value="<%= @order.total %>" />
	  <input type="hidden" name="ik_desc"  value="<%= @order.description %>"/>
	  <input type="hidden" name="ik_currency"  value="<%= @order.currency %>" />

	  Сумма к оплате: <b><%= @order.total %></b>
	  <p></p> 

	  <input type="submit" value="Пополнить" class="btn btn-default">
	</form>
</center>