<% bank = Bank.last %>
<% if bank.active == false %>
  <center>
    <p><img src="/img/winner.gif" width="289" height="289"></p>
    <p><h4>Ожидайте создается новая игра...</h4></p>
  </center>
<% else %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="register_form">
      <h1 class="register_form_title">Вход</h1>
      <form action="">
        <div class="register_form_field">
          <label for="name">Ваше имя</label>
          <%= f.email_field :email, autofocus: true, class: "well" %>
        </div>
        <div class="register_form_field">
          <label for="password">Пароль</label>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <center>
          <% if devise_mapping.rememberable? -%>
            <p class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </p>
          <% end -%>
        </center>
        <div class="register_form_submit">
          <input type="submit" value="Войти">
        </div>
      </form>
    <%= render "devise/shared/links" %>
    <div class="footer">
    <div class="container">
      <div class="footer_title">Нравится наш сервис? Поделитесь в социальных сетях:</div>
      <div class="footer_social">
        <a href="#" class="footer_social_item"><img src="<%= image_url('ic-ok.png')%>" height="39" width="39" alt="OK"></a>
        <a href="#" class="footer_social_item"><img src="<%= image_url('ic-fb.png')%>" height="26" width="12" alt="Facebook"></a>
        <a href="#" class="footer_social_item"><img src="<%= image_url('ic-inst.png')%>" height="24" width="24" alt="Instagram"></a>
        <a href="#" class="footer_social_item"><img src="<%= image_url('ic-vk.png')%>" height="18" width="30" alt="VK"></a>
        <a href="#" class="footer_social_item"><img src="<%= image_url('ic-tw.png')%>" height="20" width="24" alt="Twitter"></a>
        <a href="#" class="footer_social_item"><img src="<%= image_url('ic-telegram.png')%>" height="22" width="23" alt="Telegram"></a>
      </div>
      <div class="footer_logo">
        <img src="<%= image_url('footer_logo.png')%>" height="45" width="109" alt="Царь горы">
      </div>
      <div class="footer_copyright">
        ООО Игра - “Царь горы” 2017 Все права защищены.
      </div>
    </div>
  </div>
  <% end %>
<% end %>