<div class="popup deposit">
  <%= form_for Getbalance.new do |f| %>
    <p class="title-popup">Вывод с рабочего баланса</p>
    <img class="close-popup" src="images/close.png" alt="">
    <p class="your-balance">Ваш рабочий баланс:<span class="green"><%= current_user.balance %></span></p>
    <span class="des-pay">Кошелек</span>
    <center><%= f.collection_select :walletfirm, ['Webmoney', 'Qiwi', 'VISA'], :to_s, :to_s, include_blank: false %></center>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :status, :value => 'Не оплачен' %>
    <span class="des-pay">Номер кошелька</span>
    <%= f.number_field :wallet %>
    <span class="des-pay">Описание</span>
    <%= f.text_field :desc %>
    <span class="des-pay">Cумма</span>
    <%= f.number_field :total %></br>
    <span class="last">За вывод денег вы получаете штраф 50%</span>
    <span class="last">Если у вас есть улучшение "Запасной аэродром" то штраф 30%</span>
    <input type="submit" value="Пополнить" />
  <% end %>
</div>