<center>
 <%= form_for @getbalance do |f| %>
      <hr></hr>
		<h4>Ваш баланс : <%= current_user.balance %></h4>
	  <hr></hr>
    <div class="field">
		<%= f.label :Кошелек %><br />
		<%= f.collection_select :walletfirm, ['Webmoney', 'Qiwi', 'VISA'], :to_s, :to_s, include_blank: false %>
	</div>
	<p></p>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :status, :value => 'Не оплачен' %>
	</div>

	<div class="field">
		<%= f.label :Номер_Кошелька %></br>
		<%= f.text_area :wallet %>
	</div>
	<hr>

	<div class="field">
		<%= f.label :Описание %></br>
		<%= f.text_area :desc %>
	</div>
	
	<div class="field">   
		<%= f.label :Сумма %></br>
		<%= f.number_field :total %></br>
		<b> За вывод денег вы получаете штраф 50% </b>
	</div>
	<p></p>
	<div class="actions">
        <%= f.submit "Оплатить", class: 'btn btn-default' %>
    </div>
	<hr></hr>

    --->  <%= link_to 'Отменить', root_path %>
 <% end %>
</center>