<!DOCTYPE html>
<html>
  <head>
  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PNC8RZW');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta property="utf-8">
  <meta property="og:locale" content="ru_RU"/>  
  <meta property="og:type" content="article"/>  
  <meta property="og:title" content="Царь горы – новая перспективная игра, заработать в которой может любой желающий"/> 
  <meta property="og:description" content="Присоединившись к игре вы становитесь полноценным обладателем автоматического заработка. Пассивный доход при минимальном вложении всего в 50 рублей "/>  
  <meta property="og:image" content="/images/metaimage.png"/> 
  <meta property="og:site_name" content="Игра - Царь Горы"/>
  <meta property="og:url" content= "https://king-mountain.pro" />
  <meta name="description" content="Царь горы – проект пасивного дохода с минимальными инвестициями. Выгодное влежение для большого заработка!">
  <meta name="keywords" content="доход заработок царь горы пассивный прибыль зарабатывай вложения выгодные инвестиции финансы деньги">

  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>King of Mountain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      <body>
      <% if user_signed_in? %>
        <%= render '/getmoneys/form' %>
        <%= render '/getbalances/form' %>
      <% end %>


<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'JzDHuSTO2M';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->

    <%= yield %>
  </body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNC8RZW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44918020 = new Ya.Metrika({
                    id:44918020,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });
 
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
 
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44918020" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</html>
