<!DOCTYPE html>
<html>
  <head>
  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PNC8RZW');</script>
  <!-- End Google Tag Manager -->

  <meta property="og:locale" content="ru_RU"/>  
  <meta property="og:type" content="article"/>  
  <meta property="og:title" content="Игра - Царь Горы"/> 
  <meta property="og:description" content="Игра - Царь Горы"/>  
  <meta property="og:image" content="images/logo.png"/> 
  <meta property="og:site_name" content="Игра - Царь Горы"/>

  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>King of Mountain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      <body>

  <div class="popup withdraw">
    <form action="">
      <p class="title-popup">Вывод свободного баланса</p>
      <img class="close-popup" src="images/close.png" alt="">
      <p class="your-balance">Ваш свободный баланс:<span class="green">1540.0</span></p>
      <span class="des-pay">Кошелек</span>
      <select name="paymant" id="paymant_id">
        <option value="PayPal">PayPal</option>
        <option value="Qiwi">Qiwi</option>
        <option value="WebMoney">WebMoney</option>
      </select>
      <span class="des-pay">Номер кошелька</span>
      <input type="text" name="number-pay" placeholder="R87832154995" />
      <span class="des-pay">Описание</span>
      <input type="text" name="others" placeholder="R87832154995" />
      <span class="des-pay">Cумма</span>
      <input type="text" name="sum" placeholder="850.00 руб." />
      <span class="last">За вывод денег вы получаете штраф 50%</span>
      <span class="last">Если у вас есть улучшение "Запасной аэродром" то штраф 30%</span>
      <input type="submit" value="Оплатить" />
    </form>
  </div>
  <div class="popup deposit">
    <form action="">
      <p class="title-popup">Пополнение баланса</p>
      <img class="close-popup" src="images/close.png" alt="">
      <p class="your-balance">Ваш свободный баланс:<span class="green">1540.0</span></p>
      <span class="des-pay">Кошелек</span>
      <select name="paymant" id="paymant_id">
        <option value="PayPal">PayPal</option>
        <option value="Qiwi">Qiwi</option>
        <option value="WebMoney">WebMoney</option>
      </select>
      <span class="des-pay">Номер кошелька</span>
      <input type="text" name="number-pay" placeholder="R87832154995" />
      <span class="des-pay">Описание</span>
      <input type="text" name="others" placeholder="R87832154995" />
      <span class="des-pay">Cумма</span>
      <input type="text" name="sum" placeholder="850.00 руб." />
      <input type="submit" value="Пополнить" />
    </form>
  </div>

    <div class="header">
      <div class="container">
         <div class="logo">
            <a href="<%= root_path %>"><img src="<%= image_url('logoen.png')%>" height="47" width="213" alt="Царь горы"></a>
         </div>
         <div class="header_menu_wrap">
         <nav class="header_menu">
            <ul>
               <li><a href="<%= root_path %>"><%= t 'navbar.h' %></a></li>
               <li><a href="<%= service_path %>"><%= t 'navbar.s' %></a></li>
               <li><a href="<%= contact_path %>"><%= t 'navbar.c' %></a></li>
               <% if user_signed_in? && current_user.admin? %>
                <li><a href="<%= admin_root_path %>"><%= t 'navbar.admin' %></a></li>
               <% end %>
               <% if user_signed_in? %>
                <li><a href="<%= profiles_path %>"><%= t 'navbar.profile' %></a></li>
                <li><a href="<%= new_order_path %>" class="sign_in"><%= t 'navbar.money' %></a></li>
                <li><a><%= link_to I18n.t('profile.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-danger', style: 'font-size: 10px;' %></a></li>
                <li><a id="pay_out" href="#">вывести</a></li>
                <!-- <li><a data-toggle="modal" data-target=".bs-example-modal-sm">Вывести</a></li> -->
              <% end %>
            </ul>
         </nav>
         <% unless user_signed_in? %>
           <div class="header_sign">
              <a href="<%= new_user_registration_path %>" class="sign_up" style="margin-top: 0;"><%= t 'navbar.register' %></a>
              <a href="<%= new_user_session_path %>" class="sign_in"><%= t 'navbar.sign' %></a>
           </div>
         <% end %>
         <div>
           <%= link_to_unless_current image_tag("engl.png"), locale: "en" %>
           <%= link_to_unless_current image_tag("russia.png"), locale: "ru" %>
         </div>
         </div>
         <div class="mobile_btn">
            <span></span>
            <span></span>
            <span></span>
         </div>
         <div style="clear: both;"></div>
      </div>
   </div>

<!-- BEGIN JIVOSITE CODE -->
<script type='text/javascript'>
(function(){ var widget_id = '0382xsR4wY';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- END JIVOSITE CODE -->

    <%= yield %>
  </body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNC8RZW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44918020 = new Ya.Metrika({
                    id:44918020,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44918020" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>
